@-webkit-keyframes logo-drop {
   0%{
      width: 0;
   }
   100% {
      width: 168px;
   }
}
@-moz-keyframes logo-drop {
   0%{
      width: 0;
   }
   100% {
      width: 168px;
   }
}
@keyframes logo-drop {
   0%{
      width: 0;
   }
   100% {
      width: 168px;
   }
}

@-webkit-keyframes badge-drop {
   0%{
      opacity: 0;
      width: 70px;
   }
   100% {
      opacity: 1;
      width: 85px;
   }
}
@-moz-keyframes badge-drop {
   0%{
      opacity: 0;
      width: 70px;
   }
   100% {
      opacity: 1;
      width: 85px;
   }
}
@keyframes badge-drop {
   0%{
      opacity: 0;
      width: 70px;
   }
   100% {
      opacity: 1;
      width: 85px;
   }
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}
@keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}
