// Banner

.banner {
    background: @darkBackground;
    border-bottom: 1px solid @darkBackground;
    clear: both;
    overflow: hidden;
    position: relative;
    width: 100%;
    -webkit-font-smoothing: antialiased;

    .banner-intro {
        color: white;
        float: left;
        width: 25%;
    }
    .banner-intro-content {
        margin: 80px 20px 10px 30px;
        h1 {
            font-size: @baseFontSize + 20;
            font-weight: bold;
            line-height: @baseLineHeight + 20;
            text-transform: uppercase;
        }
        p {
            margin-bottom: 10px;
        }
    }
    .banner-intro-action {
        margin: 20px 20px 10px 30px;
        .btn-signup {
            border: 0;
            color: @textColor !important;
            font-weight: bold;
        }
    }

    .band-featured {
        background-position: center center;
        background-repeat: no-repeat;
        float: left;
        height: 430px;
        position: relative;
        width: 100%;
        .opacity(25);
        &.active {
            .opacity(100);
            .band-featured-info {
                display: block;
            }
        }
        .radio-badges {
            position: absolute;
            top: -110px;
        }
        .btn-play {
            left: 18px;
            top: 23px;
            position: absolute;
        }
    }
    .band-featured-info {
        background: #333;
        background: rgba(0,0,0,.6);
        bottom: 0;
        color: white;
        display: none;
        left: 0;
        position: absolute;
        width: 100%;
    }
    .band-featured-genre {
        color: lighten(@grayLight,10%);
        display: block;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.2;
        text-transform: uppercase;
    }
    .band-featured-name {
        color: @white;
        display: block;
        font-size: 40px;
        line-height: 40px;
        margin-left: 80px;
        padding: 10px 10px 28px 0;
        &:hover {
            color: @linkColorDarkBgHover;
            text-decoration: none;
        }
    }

    .band-featured-mini {
        background-position: center center;
        background-repeat: no-repeat;
        .background-size(100%);
        margin: 0 0 1px 1px;
        //.opacity(80);
        &:hover {
            //.opacity(100);
        }
        a:hover {
            text-decoration: none;
        }
    }
    .band-featured-mini-name {
        background: rgba(0,0,0,.5);
        color: @white;
        display: block;
        font-size: 24px;
        line-height: 1;
        &:hover {
            background: rgba(0,0,0,.3);
        }
    }
    .band-featured-mini-genre {
        color: lighten(@grayLight,10%);
        display: block;
        font-size: 11px;
        font-weight: bold;
        line-height: 1.5;
        text-transform: uppercase;
    }
}

.cssgradients {
    .banner {
        .band-featured {
            .radio-badges {
                top: 0;
            }
            .btn-play {
                top: 122px;
            }
        }
        .band-featured-info {
            #gradient > .vertical(rgba(0,0,0,0), rgba(0,0,0,.8));
            background-color: transparent;
            padding-top: 100px;
        }

        .band-featured-mini-name {
            #gradient > .vertical(rgba(0,0,0,.8), rgba(0,0,0,.3));
            background-color: transparent;
            &:hover {
                #gradient > .vertical(rgba(0,0,0,.7), rgba(0,0,0,.1));
                background-color: transparent;
            }
        }
    }
}

.home-news-list {
    list-style: none;
    margin: 0 0 40px 0;
    .news {
        .clearfix();
        margin-bottom: 20px;
        min-height: 84px;
        position: relative;
    }
    a:hover {
        text-decoration: none;
        .news-title {
            text-decoration: underline;
        }
    }
    .news-date {
        color: @grayLight;
        display: block;
        font-size: @baseFontSize - 2;
    }
    .news-image {
        height: 60px;
        left: 0;
        position: absolute;
        top: 24px;
        width: 60px;
    }
    .news-info {
        display: block;
        padding: 2px 0 2px 70px;
    }
    .news-author {
        display: block;
        margin-bottom: 2px;
    }
    .news-title {
        color: @textColor;
        display: block;
        line-height: @baseLineHeight - 2;
    }
}


.home-concerts {
    margin-bottom: 60px;
    header {
        .clearfix();
        .nav {
            float: right;
            margin-right: -30px;
        }
    }
    .section-title {
        float: left;
        margin: 4px 0;
    }
}


//
// Mediaqueries
// --------------------------------------------------

// 1200

@media screen and (max-width: 1200px) {

    .banner {
        .banner-intro {
            font-size: @baseFontSize - 1;
        }
    }

}


// 1000

@media screen and (max-width: 1000px) {

    .banner {
        .banner-intro {
            float: none;
            width: 100%;
        }
        .banner-intro-content {
            float: left;
            margin: 20px 20px 10px 170px;
            width: 40%;
        }
        .banner-intro-action {
            float: right;
            margin: 25px 0 0 0;
            text-align: center;
            width: 30%;
        }

        .site-intro {
            h1 {
                display: none;
            }
        }
    }

    .carousel {
        width: 70%;
    }
    .carousel-nav {
        width: 30%;
    }

    .home-news {
        margin: 20px 0 0 0;
    }
    .home-news-list {
        .clearfix();
        margin: 0;
        li {
            float: left;
            width: 50%;
        }
    }

}
