<% wrap_layout :layout do %>

    <header id="header" data-spy="affix" data-offset-top="0">

        <a href="/"><img src="img/mx3-logo.png" class="logo" alt="mx3"></a>

        <nav class="main-nav">
            <ul>
                <li><a href="#" rel="genres-menu">Genres<b class="caret"></b></a></li>
                <li><a href="#">Chaînes</a></li>
                <li><a href="#">What’s Up ?</a></li>
                <li>
                    <form class="form-search compact-search">
                        <input id="" type="text" class="search-input" placeholder="Find artists, songs, playlists…">
                        <a href="#" class="search-toggle"><i class="icon-search"></i></a>
                    </form>
                </li>
            </ul>
        </nav>

        <a href="#" class="btn btn-primary btn-play-now"><i class="icon-play"></i> Play<br>music<br>now!</a>

        <div class="lang dropdown">
            <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" href="#">FR<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><a href="#">Français</a></li>
                <li><a href="#">Deutsch</a></li>
                <li><a href="#">Italiano</a></li>
                <li><a href="#">Rumantsch</a></li>
                <li><a href="#">English</a></li>
            </ul>
        </div>

        <a href="#" class="btn btn-link btn-signin">Se connecter</a>
        <a href="#" class="btn btn-link btn-signup">S’inscrire</a>

    </header>

    <div id="content">

        <div id="genres-menu" class="genres-menu">
            <header>
                <div class="genres-menu-title"><span class="counter">19573</span> Groupes</div>
                <ul class="genres-menu-filters">
                    <li><a href="#">Hot Today</a></li>
                    <li><a href="#">Les plus populaires</a></li>
                    <li><a href="#">Les plus écoutés</a></li>
                    <li><a href="#">Les derniers inscrits</a></li>
                    <li><a href="#">Par ordre alphabétique</a></li>
                    <li><a href="#">Par ordre aléatoire</a></li>
                </ul>
            </header>
            <div class="genres-menu-categories">
                <ul class="genres-menu-genre-list">
                    <li><a href="#">Chanson <span class="counter">1219</span></a></li>
                    <li><a href="#">Electro <span class="counter">1459</span></a></li>
                    <li><a href="#">Folk/Country <span class="counter">762</span></a></li>
                    <li><a href="#">Funk <span class="counter">646</span></a></li>
                    <li><a href="#">Metal/Punk <span class="counter">1302</span></a></li>
                    <li><a href="#">Hip Hop <span class="counter">3258</span></a></li>
                    <li><a href="#">Jazz <span class="counter">723</span></a></li>
                    <li><a href="#">Reggae <span class="counter">488</span></a></li>
                    <li><a href="#">Rock <span class="counter">4932</span></a></li>
                    <li><a href="#">Pop <span class="counter">2564</span></a></li>
                    <li><a href="#">Techno <span class="counter">1294</span></a></li>
                    <li><a href="#">World <span class="counter">429</span></a></li>
                    <li><a href="#">Easy/Film <span class="counter">396</span></a></li>
                </ul>
                <ul class="genres-menu-tag-list">
                    <li><a href="#">Acoustic</a></li>
                    <li><a href="#">Alternative</a></li>
                    <li><a href="#">Ambient</a></li>
                    <li><a href="#">Blues</a></li>
                    <li><a href="#">Chillout</a></li>
                    <li><a href="#">Chanson</a></li>
                    <li><a href="#">Dance</a></li>
                    <li><a href="#">Dub</a></li>
                    <li><a href="#">Festival</a></li>
                    <li><a href="#">Groove</a></li>
                    <li><a href="#">Guitar</a></li>
                    <li><a href="#">House</a></li>
                    <li><a href="#">Indie</a></li>
                    <li><a href="#">Instrumental</a></li>
                    <li><a href="#">Live</a></li>
                    <li><a href="#">Metal</a></li>
                    <li><a href="#">Minimal</a></li>
                    <li><a href="#">Mundart</a></li>
                    <li><a href="#">Punk</a></li>
                    <li><a href="#">Party</a></li>
                    <li><a href="#">Ska</a></li>
                    <li><a href="#">Songwriter</a></li>
                    <li><a href="#">Soul</a></li>
                </ul>
                <ul class="genres-menu-location-list">
                    <li><a href="#">Argau</a></li>
                    <li><a href="#">Appenzel</a></li>
                    <li><a href="#">Bern</a></li>
                    <li><a href="#">Basel</a></li>
                    <li><a href="#">Fribourg</a></li>
                    <li><a href="#">Genève</a></li>
                    <li><a href="#">Glaris</a></li>
                    <li><a href="#">Jura</a></li>
                    <li><a href="#">Lucerne</a></li>
                    <li><a href="#">Neuchâtel</a></li>
                    <li><a href="#">Nidwald</a></li>
                    <li><a href="#">Obwald</a></li>
                    <li><a href="#">Saint-Gall</a></li>
                    <li><a href="#">Schaffhouse</a></li>
                    <li><a href="#">Soleure</a></li>
                    <li><a href="#">Schwyz</a></li>
                    <li><a href="#">Thurgovie</a></li>
                    <li><a href="#">Ticino</a></li>
                    <li><a href="#">Uri</a></li>
                    <li><a href="#">Vaud</a></li>
                    <li><a href="#">Valais</a></li>
                    <li><a href="#">Zug</a></li>
                    <li><a href="#">Zurich</a></li>
                </ul>
            </div>
            <a href="#" class="close">&times;</a>
        </div>

        <%= yield %>
    </div>

<% end %>
