<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <!-- Use title if it's in the page YAML frontmatter -->
        <title><%= data.page.title || "HTML5 Boilerplate" %></title>
        <meta name="description" content="">
        <meta name="viewport" content="">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:400,700">
        <link rel="stylesheet" href="css/animations.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="js/vendor/modernizr-2.6.1.min.js"></script>
    </head>
    <body class="<%= page_classes %>">
        <!--[if lt IE 8]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <div class="ad-space ad-space-top">
            <img src="img/ads/ad1.png" alt="ad">
        </div>

        <%= yield %>

        <footer id="footer">
            <div class="footer-radio-logos">
                    <a class="ssr-logo" target="_blank" href="http://www.srgssrideesuisse.ch/">
                        <img alt="SRG SSR" src="img/logos/srg-ssr.png">
                    </a>
                    <div class="right">
                        <a target="_blank" href="http://www.retetre.rtsi.ch"><img alt="Retetre" src="img/logos/retetre.png"></a>
                        <a target="_blank" href="http://www.srf3.ch/"><img alt="Srf3" src="img/logos/srf3.png"></a>
                        <a target="_blank" href="http://www.rts.ch/couleur3/"><img alt="Couleur3" src="img/logos/couleur3.png"></a>
                        <a target="_blank" href="http://www.virus.ch/"><img alt="Srfvirus" src="img/logos/srf-virus.png"></a>
                        <a target="_blank" href="http://www.rtr.ch/"><img alt="Radio_rumantsch" src="img/logos/rtr.png"></a>
                    </div>
                </div>
            <div class="footer-wrapper">
                <div class="footer-links">
                    <a href="#">FAQ</a>
                    <a href="#">Contact</a>
                    <a href="#">Partenaires</a>
                    <a href="#">Media</a>
                </div>
                <div class="footer-notes">
                    Copyright 2006-2013 mxlab ag <a href="#">Conditions légales</a> <a href="#">Crédits</a>
                </div>
                <div class="footer-social">
                <a href="#" class="twitter-color"><i class="icon-twitter margin-r"></i></a>
                    <a href="#" class="facebook-color"><i class="icon-facebook-squared margin-r"></i></a>
                </div>
            </div>
            <div class="ad-space ad-space-bottom">
                <img src="img/ads/ad2.png" alt="ad">
            </div>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.0.min.js"><\/script>')</script>

        <script src="js/bootstrap/bootstrap-transition.js"></script>
        <script src="js/bootstrap/bootstrap-alert.js"></script>
        <script src="js/bootstrap/bootstrap-modal.js"></script>
        <script src="js/bootstrap/bootstrap-dropdown.js"></script>
        <script src="js/bootstrap/bootstrap-scrollspy.js"></script>
        <script src="js/bootstrap/bootstrap-tab.js"></script>
        <script src="js/bootstrap/bootstrap-tooltip.js"></script>
        <script src="js/bootstrap/bootstrap-popover.js"></script>
        <script src="js/bootstrap/bootstrap-button.js"></script>
        <script src="js/bootstrap/bootstrap-collapse.js"></script>
        <script src="js/bootstrap/bootstrap-carousel.js"></script>
        <script src="js/bootstrap/bootstrap-typeahead.js"></script>
        <script src="js/bootstrap/bootstrap-affix.js"></script>

        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
