<% wrap_layout :layout do %>

    <header id="header">

        <a href="/"><img src="img/mx3-logo.png" class="logo" alt="mx3"></a>

        <nav class="main-nav">
            <ul>
                <li class="active"><a href="#">Bands<b class="caret"></b></a></li>
                <li><a href="#">Concerts</a></li>
                <li><a href="#">Supporters</a></li>
                <li>
                    <form class="form-search compact-search">
                        <input id="" type="text" class="search-input" placeholder="Find artists, songs, playlists…">
                        <a href="#" class="search-toggle"><i class="icon-search"></i></a>
                    </form>
                </li>
            </ul>
        </nav>

        <div class="lang dropdown">
            <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" href="#">En<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><a href="#">Français</a></li>
                <li><a href="#">Deutsch</a></li>
                <li><a href="#">Italiano</a></li>
                <li><a href="#">Rumantsch</a></li>
                <li><a href="#">English</a></li>
            </ul>
        </div>

        <a href="#" class="btn btn-link btn-signin">Sign in</a>
        <a href="#" class="btn btn-warning btn-signup">Sign up</a>

    </header>

    <div id="content">
        <div class="oblique"></div>
        <%= yield %>
    </div>

<% end %>
