<% wrap_layout :layout do %>

    <header id="header">

        <a href="/"><img src="img/mx3-logo.png" class="logo" alt="mx3"></a>

        <nav class="main-nav">
            <ul>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Genres<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="genre-rock.html">Chanson</a></li>
                        <li><a href="genre-rock.html">Electro</a></li>
                        <li><a href="genre-rock.html">Folk/Country</a></li>
                        <li><a href="genre-rock.html">Funk</a></li>
                        <li><a href="genre-rock.html">Metal/Punk</a></li>
                        <li><a href="genre-rock.html">Hip Hop</a></li>
                        <li><a href="genre-rock.html">Jazz</a></li>
                        <li><a href="genre-rock.html">Reggae</a></li>
                        <li><a href="genre-rock.html">Rock</a></li>
                        <li><a href="genre-rock.html">Pop</a></li>
                        <li><a href="genre-rock.html">Techno</a></li>
                        <li><a href="genre-rock.html">World</a></li>
                        <li><a href="genre-rock.html">Easy/Film</a></li>
                    </ul>
                </li>
                <li><a href="#">Sélections</a></li>
                <li><a href="#">What’s Up ?</a></li>
                <li>
                    <form class="form-search compact-search">
                        <input id="" type="text" class="search-input" placeholder="Find artists, songs, playlists…">
                        <a href="#" class="search-toggle"><i class="icon-search"></i></a>
                    </form>
                </li>
            </ul>
        </nav>

        <a href="#" class="btn btn-primary btn-play-now"><i class="icon-play"></i> Play<br>music<br>now!</a>

        <div class="lang dropdown">
            <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" href="#">FR<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><a href="#">Français</a></li>
                <li><a href="#">Deutsch</a></li>
                <li><a href="#">Italiano</a></li>
                <li><a href="#">Rumantsch</a></li>
                <li><a href="#">English</a></li>
            </ul>
        </div>

        <a href="#" class="btn btn-link btn-signin">Se connecter</a>
        <a href="#" class="btn btn-link btn-signup">S’inscrire</a>

    </header>

    <div id="content">

        <%= yield %>
    </div>

<% end %>
