.page-nav {
    .user-booking {
        a {
            color: @gray;
        }
        i {
            color: @yellow;
            float: left;
            font-size: 38px;
            margin: -2px 2px 0 -5px;
        }
    }
}


//
// Singles
// --------------------------------------------------

.account-track-upload {
    margin: 10px 0 40px 0;
    a {
        border: 3px solid lighten(@grayLight,30%);
        .border-radius(3px);
        display: block;
        padding: 5px 0 10px 0;
        text-align: center;
        &:hover {
            background: lighten(@grayLighter,5%);
            border-color: lighten(@grayLight,20%);
            text-decoration: none;
            label {
                color: @linkColorHover;
            }
        }
    }
    i {
        font-size: 110px;
        height: 120px;
    }
    label {
        color: @gray;
        font-size: 22px;
        font-weight: normal;
        &.addendum {
            font-size: @baseFontSize + 1;
            margin-bottom: 30px;
        }
    }
    .help-block {
        margin-bottom: 0;
    }
}

.account-track-list {
    list-style: none;
    margin-left: 0;
    > li {
        margin-bottom: 20px;
    }
}

.account-track-list-year {
    background: @darkBackground;
    color: @white;
    display: inline-block;
    margin-bottom: 20px;
    padding: 2px 5px;
}



//
// Account profile
// --------------------------------------------------

.account-profile-form {
    margin-bottom: 40px;
}

.account-profile-gallery {
    .clearfix();
    list-style: none;
    margin: 0 0 10px -1px;
    li {
        float: left;
        max-width: 150px;
        width: 20%;
        position: relative;
        &:hover {
            img {
                //border: 1px solid @linkColorHover;
                position: relative;
            }
            .select-image {
                display: block;
                .opacity(100);
            }
            .btn-delete {
                display: block;
            }
        }
    }
    figure,
    img {
        border: 1px solid @white;
        .box-sizing(border-box);
        margin: 0;
        width: 100%;
    }
    .is-chosen,
    .select-image {
        background: @white;
        .border-radius(2px);
        .box-sizing(border-box);
        bottom: 5px;
        display: block;
        font-size: 12px;
        left: 50%;
        line-height: 14px;
        margin-left: -46%;
        .opacity(80);
        padding: 8px 0;
        position: absolute;
        text-align: center;
        width: 92%;
        i {
            //font-size: 24px;
        }
    }
    .select-image {
        display: none;
    }
    .btn-delete {
        display: none;
        position: absolute;
        right: 5px;
        top: 5px;
    }
}

.account-profile-url {
    display: inline-block;
    font-size: @baseFontSize + 7;
    line-height: @baseLineHeight + 8;
    margin-bottom: 10px;
}

.account-link-list {
    list-style: none;
    margin: 0;
    label {
        float: left;
        margin: 5px 0;
    }
    li {
        margin: 0 0 0 -8px;
        max-width: 600px;
        padding: 8px 8px;
        &:hover {
            background: @grayLighter;
            .btn-delete {
                display: block;
            }
        }
    }
    .btn-delete {
        .border-radius(2px);
        color: @red;
        display: none;
        float: right;
        margin: -5px -4px 0 0;
    }
    select {
        width: 140px;
    }
    input,
    select {
        margin-bottom: 0;
    }
}

.account-link-service {
    display: inline-block;
    width: 140px;
}


//
// Account news
// --------------------------------------------------

.account-news-add {
    margin: 20px 0 60px 0;
}

.account-news-add-form {
    display: none;
    &.is-open {
        display: block;
    }
}

.account-news-list {
    .news-title {
        font-size: @baseFontSize + 6;
        line-height: 1.2em;
        margin: 2px 0 5px 0;
    }
}
