
@htmlBackground: #DDD;

@headerBackground: white;
@contentBackground: white;
@footerBackground: @htmlBackground;

@linkColorDarkBg: lighten(@linkColor,10%);
@linkColorDarkBgHover: lighten(@linkColorDarkBg,5%);

@playerTimelineBackground: #CCC;
@playerTimelineColor: @linkColor;



//
// Sections
// --------------------------------------------------

html {
    background: @htmlBackground;
}

#content {
    background: @contentBackground;
    min-height: 500px;
}

.wrapper {
    margin: 0 auto;
    width: 940px;
}

//
// Header
// --------------------------------------------------

.ad-space-top {
    background: @black;
    padding: 15px 0;
    position: relative;
    text-align: center;
    z-index: 2;
}

#header {
    background: @headerBackground;
    position: relative;
    z-index: 2;
    .box-shadow(0 1px 4px rgba(0,0,0,.35));
    .clearfix();
}

.logo {
    left: -3px;
    position: absolute;
    top: 20px;
    &:hover {
        left: 0;
    }
}

.main-nav {
    float: left;
    font-size: @baseFontSize + 1;
    text-transform: uppercase;
    margin: 0 0 0 184px;
    ul {
        list-style: none;
        margin: 0;
    }
    li {
        float: left;
        &.active {
            a, .caret {
                border-top-color: @linkColor;
                color: @linkColor;
            }
        }
    }
    a {
        color: @gray;
        display: block;
        height: 62px;
        line-height: 62px;
        padding: 0 18px;
        &:hover {
            color: @linkColorHover;
            text-decoration: none;
        }
    }
    .caret {
        margin: 28px 0 0 5px;
    }
    .form-search {
        margin: 0;
        position: relative;
        z-index: 3;
        .icon-search {
            font-size: @baseFontSize + 6;
        }
        .search-input {
            .box-shadow(~'inset 0 1px 1px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,0.15)');
            display: none;
            left: 15px;
            position: absolute;
            top: 16px;
            width: 8px;
            .transition(width .3s ease);
            &.is-visible {
                width: 250px;
            }
        }
    }
}

.lang {
    float: right;
    margin: 16px 15px 0 0;
    .dropdown-menu {
        left: auto;
        min-width: 110px;
        right: -5px;
    }
    .caret {
        border-top-color: @linkColor;
        margin-left: 3px;
    }
}

.btn-signup {
    float: right;
    margin: 16px 10px 0 0;
}

.btn-signin {
    display: inline-block;
    float: right;
    margin: 16px 0 0 0;
}

.user-menu {
    float: right;
    margin: 0;
    .user-avatar {
        margin-left: 10px;
    }
    a.dropdown-toggle {
        background: @headerBackground;
        display: block;
        outline: none;
        padding: 11px 5px 11px 10px;
        .caret {
            border-top-color: @grayLight;
            margin-top: 18px;
        }
        &:hover {
            background: @grayLighter;
            text-decoration: none;
            .caret {
                border-top-color: @gray;
            }
        }
    }
    &.open .dropdown-toggle {
        background: @grayLighter;
        .box-shadow(~'inset 0 1px 3px rgba(0,0,0,.15)');
        .caret {
            border-top-color: @gray;
        }
    }
    .dropdown-menu {
        left: auto;
        right: 0;
        li > a {
            padding-left: 10px;
        }
    }
}


//
// Content
// --------------------------------------------------

#content {
    position: relative;
}

// a feature-detection class for rotate should be added
.oblique {
    background: rgba(255,255,255,.1);
    //border-bottom: 1px solid rgba(0,0,0,.1);
    height: 100px;
    left: -50%;
    position: absolute;
    top: -42px;
    width: 150%;
    z-index: 1;
    .rotate(354deg);
}


//
// Footer
// --------------------------------------------------


#footer {
    background: @footerBackground;
    color: @gray;
    padding: 20px 40px;
}


//
// Badges
// --------------------------------------------------

.radio-badge {
    background: url(../img/badge-on-air.png) left top no-repeat;
    display: block;
    height: 49px;
    text-indent: -10000px;
    width: 85px;
}

.radio-badge-couleur3 {
    background: url(../img/badge-couleur3.png) left top no-repeat;
}
