.banner-central-player {
    background: @darkBackground;
    height: 450px;
    padding-top: 60px;
    position: relative;
}

.playlist-info {
    background: @darkBackground;
    color: @white;
    display: block;
    left: 0;
    position: absolute;
    bottom: 0;
    width: 18%;
    -webkit-font-smoothing: antialiased;

    > div {
        padding: 0 20px 15px 30px;
    }

    .playlist-info-title {
        color: @grayLight;
        font-size: @baseFontSize;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .playlist-cover {
        height: 80px;
        margin-bottom: 10px;
        width: 80px;
    }
    .playlist-title {
        font-size: 28px;
        line-height: 1.2em;
        margin: 0 0 5px 0;
    }
    .playlist-author {
        color: @grayLight;
    }
    .playlist-actions {
        margin-top: 60px;
        a {
            color: @white;
            display: inline-block;
            font-size: @baseFontSize;
            padding: 5px 0;
            &:hover {
                color: @linkColorDarkBgHover;
                text-decoration: none;
            }
        }
    }
}

.central-player-wrapper {
    background: @darkBackground;
    .clearfix();

    .central-player {
        float: left;
        margin-left: 18%;
        width: 50%;
    }
    .central-player-playlist {
        border: 1px solid lighten(@centralPlayerBackground,5%);
        border-width: 1px 1px 0 0;
        float: left;
        height: 450px;
        width: 30%;
    }
    .playlist-track-list {
        height: 380px;
        overflow-x: hidden;
        overflow-y: auto;
        .nice-scrollbar();
        .playlist-dark-scrollbar();
        &.is-expanded {
            .box-shadow(0 36px 4px rgba(0,0,0,.3));
            height: auto;
            position: relative;
            z-index: 1; // for the shadow to be over the recommended track items below
        }
    }
    .btn-expand-playlist {
        background: @centralPlayerBackground;
        border-top: 1px solid lighten(@centralPlayerBackground,5%);
        .box-shadow(0 -7px 14px -7px rgba(0,0,0,.6));
        color: @grayLight;
        display: block;
        font-size: @baseFontSize + 2;
        height: 34px;
        line-height: 34px;
        text-align: center;
        position: relative;
        width: 100%;
        z-index: 1; // to be over recommendation track items
        &:hover {
            background: @grayDark;
            color: @white;
        }
    }
}

.single-info-comments {
    float: left;
    margin: 0 0 0 18%;
    width: 50%;
    > div {
        border: 1px solid @grayLight;
        border-width: 0 1px;
        margin-top: -1px;
        padding: 20px 30px;
    }
}

.single-info {
    border-bottom: 1px solid @grayLighter;
    .clearfix();
    margin-bottom: 30px;
    position: relative;
}

.single-title {
    font-size: 34px;
    line-height: 1.2;
    margin: 0 0 15px 0;
}

.single-stats {
    color: @grayLight;
    float: right;
}

.single-actions {
    clear: both;
    .clearfix();
    list-style: none;
    margin: 30px 0 10px 0;
    li {
        float: left;
    }
    a {
        color: @textColor;
        display: block;
        font-size: @baseFontSize + 1;
        //font-weight: bold;
        padding: 4px 20px 4px 0;
        &:hover {
            color: @linkColorHover;
            text-decoration: none;
        }
    }
}

.single-band {
    padding-left: 70px;
}

.single-band-avatar {
    float: left;
    margin-left: -70px;
}

.single-band-name {
    font-size: @baseFontSize + 4;
    font-weight: bold;
    line-height: 1.2em;
    margin: 0 0 4px 0;
}

.single-band-genre {
    color: @gray;
    font-size: @baseFontSize - 2;
    line-height: 16px;
    text-transform: uppercase;
}

.single-band-stats {
    color: @grayLight;
    font-size: @baseFontSize - 1;
    margin-top: 2px;
}

.single-more-info {
    border-top: 1px solid @grayLighter;
    padding: 15px 0;
    text-align: left;
}

.single-comments-title {
    margin: 0 0 20px 0;
}

.single-recommendations {
    float: left;
    width: 30%;

    > div {
        padding: 30px 0 40px 30px;
    }
}
