---
title: ton compte
layout: layout-authenticated
---

<header class="page-header">
    <h1>Ton compte</h1>
</header>

<div class="page-nav">

    <nav>
        <ul>
            <li class="active">
                <a href="#"><i class="icon-vcard"></i> Informations</a>
            </li>
            <li>
                <a href="#"><i class="icon-doc-text"></i> News</a>
            </li>
            <li>
                <a href="#"><i class="icon-cog"></i> Préférences</a>
            </li>
        </ul>
    </nav>

</div>

<div class="page-content">
    <div>
            <form class="account-profile-form">

                <fieldset>
                    <legend>Profil</legend>

                    <div class="account-avatar">
                        <img src="http://placehold.it/100x100" />
                        <p>
                            <a href="#" class="btn"><i class="icon-camera"></i> Ajouter une image</a>
                        </p>
                        <p>
                            Choisissez une image de grande résolution si possible. Elle sera automatiquement redimensionnée.
                        </p>
                    </div>

                    <p>
                        <label>Nom du groupe <span class="required">*</span></label>
                        <input type="text" class="input-xlarge" placeholder="">
                    </p>

                    <p>
                        <label>Genre <span class="required">*</span></label>
                        <select>
                            <option>Rock</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </p>

                    <p>
                        <label>Ville <span class="required">*</span></label>
                        <input class="input-large" type="text">
                    </p>

                    <p>
                        <label>Canton <span class="required">*</span></label>
                        <select>
                            <option>Vaud</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </p>

                    <p>

                    </p>

                    <button type="submit" class="btn btn-primary">Sauver</button>
                </fieldset>

                <fieldset>
                    <legend>Nom d’utilisateur et mot de passe</legend>

                    <label>Nom d’utilisateur</label>
                    <input type="text" placeholder="">
                    <span class="help-block">Au moins 6 caractères, sans espace</span>

                    <label>E-mail</label>
                    <input type="email" required>
                    <label class="checkbox">
                        <input type="checkbox"> Afficher l’email sur la page de profil
                    </label>

                    <button type="submit" class="btn">Sauver</button>
                </fieldset>

            </form>
    </div>
</div>
