---
title: ton compte > news
layout: layout-authenticated
---

<header class="page-header">
    <h1>Ton compte <i class="icon-right-open-mini"></i> <em>News</em></h1>
</header>

<div class="page-nav">

    <nav>
        <ul>
            <li class="user-booking">
                <a href="user-booking.html"><i class="icon-alert"></i>2 demandes de booking!</a>
            </li>
        </ul>
        <div class="page-nav-title">Musique</div>
        <ul>
            <li>
                <a href="user-singles.html"><i class="icon-note-beamed"></i>Singles</a>
            </li>
            <li>
                <a href="user-playlists.html"><i class="icon-list"></i>Playlists</a>
            </li>
            <li>
                <a href="user-concerts.html"><i class="icon-calendar"></i>Concerts</a>
            </li>
            <li class="active">
                <a href="account-news.html"><i class="icon-doc-text"></i>News</a>
            </li>
        </ul>
        <div class="page-nav-title">Compte</div>
        <ul>
            <li>
                <a href="account-profile.html"><i class="icon-vcard"></i>Profil</a>
            </li>
            <li>
                <a href="account-settings.html"><i class="icon-cog"></i>Réglages</a>
            </li>
        </ul>
    </nav>

</div>

<div class="page-content">
    <div>

        <div class="account-news-add">
            <p>
                <a href="" class="btn btn-primary btn-large toggle-block" rel="account-news-add-form"><i class="icon-pencil"></i> Ajouter une news</a>
            </p>

            <form id="account-news-add-form" class="account-news-add-form">

                <p>Les news sont visibles sur ta page de profil et également sur la page d’accueil du site.</p>

                <div>
                    <ul class="nav nav-tabs nav-tabs-for-input">
                        <li class="active"><a href="">Français</a></li>
                        <li><a href="">Deutsch <span class="empty">(vide)</span></a></li>
                        <li><a href="">English <span class="empty">(vide)</span></a></li>
                        <li><a href="">Italiano</a></li>
                        <li><a href="">Rumantsch <span class="empty">(vide)</span></a></li>
                    </ul>
                    <div class="tab-content tab-content-wrapper">
                        <p>
                            <label for="">Titre <span class="required">*</span></label>
                            <input type="text" class="input-block-level" value="">
                        </p>
                        <p>
                            <label for="">Texte <span class="required">*</span></label>
                            <textarea  rows="6" class="input-block-level"></textarea>
                            <span class="help-block">Tu peux coller des liens dans le texte, ils seront cliquables.</span>
                        </p>
                    </div>
                    <p>
                        <a href="" class="btn"><i class="icon-camera"></i> Sélectionner une image</a>
                    </p>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Publier</button>
                        <button type="submit" class="btn btn-cancel">Annuler</button>
                    </div>
                </div>

            </form>
        </div>

        <ul class="account-news-list news-list">
            <li>
                <div class="news">
                    <div class="news-actions">
                        <a href="" class="btn-icon-action icon-pencil"></a> <a href="" class="btn-delete">&times;</a>
                    </div>
                    <time datetime="" class="news-date">5 avril 2013</time>
                    <a href="">
                        <img src="img/fake-content/news1.png" class="news-pic" alt="">
                        <span class="news-info">
                            <span class="news-title">Nouvel album «Flashback»</span>
                            <span class="news-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod consequat. Duis aute...</span>
                        </span>
                    </a>
                </div>
            </li>
            <li>
                <div class="news">
                    <div class="news-actions">
                        <a href="" class="btn-icon-action icon-pencil"></a> <a href="" class="btn-delete">&times;</a>
                    </div>
                    <time datetime="" class="news-date">4 avril 2013</time>
                    <a href="">
                        <img src="img/fake-content/news2.png" class="news-pic" alt="">
                        <span class="news-info">
                            <span class="news-title">L'événement national et musical 2013!</span>
                            <span class="news-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod consequat. Duis aute...</span>
                        </span>
                    </a>
                </div>
            </li>
            <li>
                <div class="news">
                    <div class="news-actions">
                        <a href="" class="btn-icon-action icon-pencil"></a> <a href="" class="btn-delete">&times;</a>
                    </div>
                    <time datetime="" class="news-date">4 avril 2013</time>
                    <a href="">
                        <img src="img/fake-content/news3.png" class="news-pic" alt="">
                        <span class="news-info">
                            <span class="news-title">Enigma Suite</span>
                            <span class="news-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod consequat. Duis aute...</span>
                        </span>
                    </a>
                </div>
            </li>
            <li>
                <div class="news">
                    <div class="news-actions">
                        <a href="" class="btn-icon-action icon-pencil"></a> <a href="" class="btn-delete">&times;</a>
                    </div>
                    <time datetime="" class="news-date">3 avril 2013</time>
                    <a href="">
                        <img src="img/fake-content/news2.png" class="news-pic" alt="">
                        <span class="news-info">
                            <span class="news-title">MX3 fait peau neuve !</span>
                            <span class="news-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod consequat. Duis aute...</span>
                        </span>
                    </a>
                </div>
            </li>
        </ul>

    </div>
</div>
