---
title: MX3 ROCK
layout: layout-authenticated
---


<div class="banner dark-section">

    <div class="banner-intro genre-intro">
        <div class="banner-intro-content">
            <h1>Rock</h1>
            <p>3759 groupes qui brûlent leurs guitares et se jettent nus dans leur public. En Suisse aussi ça rock dur !</p>
        </div>
        <div class="banner-intro-action">
            <a href="" class="play-music-link">
                <span class="btn-play btn-play-large"><i class="icon-play"></i></span>
                Écouter la sélection Rock !
            </a>
        </div>
    </div>

    <div class="carousel">
        <div class="carousel-wrapper">
            <div class="carousel-item band-featured active" style="background-image: url(img/fake-content/band-pic.jpg)">
                <div class="band-featured-info">
                    <div class="radio-badges">
                        <span class="radio-badge radio-badge-couleur3">Couleur3</span>
                        <span class="radio-badge radio-badge-on-air">On Air</span>
                    </div>
                    <a href="#" class="btn-play btn-play-large"><i class="icon-play"></i></a>
                    <a href="#" class="band-featured-name" title="Aller sur le profil de The Dead Experience"><span class="band-featured-genre">Rock</span>The Deadline Experience</a>
                </div>
            </div>
            <div class="band-featured" style="background-image: url(img/fake-content/band2-pic.jpg)">
                <div class="band-featured-info">
                    <div class="radio-badges">
                        <span class="radio-badge radio-badge-srf3">SRF3</span>
                        <span class="radio-badge radio-badge-on-air">On Air</span>
                    </div>
                    <a href="#" class="btn-play btn-play-large"><i class="icon-play"></i></a>
                    <a href="#" class="band-featured-name" title="Visit the artist's profile"><span class="band-featured-genre">Pop</span>Sophie Hunger</a>
                </div>
            </div>
        </div>
    </div>

    <div class="carousel-nav">
        <div class="carousel-item-mini">
            <div class="band-featured-mini" style="background-image: url(img/fake-content/band4-pic.jpg)">
                <a href="#" class="band-featured-mini-name" title="Visit the artist's profile"><span class="band-featured-mini-genre">Rock</span>Kassette</a>
            </div>
        </div>
        <div class="carousel-item-mini">
            <div class="band-featured-mini" style="background-image: url(img/fake-content/band5-pic.jpg)">
                <a href="#" class="band-featured-mini-name" title="Visit the artist's profile"><span class="band-featured-mini-genre">Rock</span>Mister Backliner</a>
            </div>
        </div>
        <div class="carousel-item-mini">
            <div class="band-featured-mini" style="background-image: url(img/fake-content/band6-pic.jpg)">
                <a href="#" class="band-featured-mini-name" title="Visit the artist's profile"><span class="band-featured-mini-genre">Rock</span>Magicrays</a>
            </div>
        </div>
        <div class="carousel-item-mini">
            <div class="band-featured-mini" style="background-image: url(img/fake-content/band2-pic.jpg)">
                <a href="#" class="band-featured-mini-name" title="Visit the artist's profile"><span class="band-featured-mini-genre">Rock</span>Favez</a>
            </div>
        </div>
    </div>

</div>

<div class="content-wrapper">

    <div class="row-fluid mq">

        <div class="span3">
            <div>

                <div class="sidebar-ad-space">
                    <img src="img/ads/ad4.gif" alt="ad">
                    <div class="ad-space-caption">Publicité</div>
                </div>

            </div>
        </div>

        <div class="span9">
            <div>

                <section>

                    <header>
                        <ul class="nav nav-tabs nav-tabs-upper">
                            <li class="active"><a href="#bands-onair">On Air Bands</a></li>
                            <li><a href="#bands-onair" data-toggle="tab">New Bands</a></li>
                            <li><a href="#bands-onair" data-toggle="tab">Hot Today</a></li>
                            <li><a href="#bands-onair" data-toggle="tab">Stats</a></li>
                        </ul>
                    </header>

                    <div class="tab-content">

                        <ul id="bands-onair" class="track-grid tab-pane active">
                            <li>
                                <div class="band" data-href="#">
                                    <a href="artist.html" title="Aller sur la page du groupe" class="band-pic" style="background-image: url(img/fake-content/track-cover3.jpg)"></a>
                                    <div class="band-info">
                                        <span class="onair">On Air</span>
                                        <div class="band-name"><a href="#" title="Aller sur la page du groupe">Chetah Woman</a></div>
                                        <div class="band-genre">Punk</div>
                                        <div class="band-stats">4 singles</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="band" data-href="#">
                                    <a href="artist.html" title="Aller sur la page du groupe" class="band-pic" style="background-image: url(img/fake-content/track-cover4.jpg)"></a>
                                    <div class="band-info">
                                        <span class="onair">On Air</span>
                                        <div class="band-name"><a href="#" title="Aller sur la page du morceau">Magicrays</a></div>
                                        <div class="band-genre">Rock</div>
                                        <div class="band-stats">9 singles</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="band" data-href="#">
                                    <a href="artist.html" title="Aller sur la page du groupe" class="band-pic" style="background-image: url(img/fake-content/track-cover3.jpg)"></a>
                                    <div class="band-info">
                                        <div class="band-name"><a href="#" title="Aller sur la page du groupe">Hallo Kritty</a></div>
                                        <div class="band-genre">Jazz</div>
                                        <div class="band-stats">1 single</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="band" data-href="#">
                                    <a href="artist.html" title="Aller sur la page du groupe" class="band-pic" style="background-image: url(img/fake-content/track-cover1.jpg)"></a>
                                    <div class="band-info">
                                        <div class="band-name"><a href="#" title="Aller sur la page du groupe">Dead or Alive</a></div>
                                        <div class="band-genre">Folk/Country</div>
                                        <div class="band-stats"></div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="band" data-href="#">
                                    <a href="artist.html" title="Aller sur la page du groupe" class="band-pic" style="background-image: url(img/fake-content/track-cover2.jpg)"></a>
                                    <div class="band-info">
                                        <span class="onair">On Air</span>
                                        <div class="band-name"><a href="#" title="Aller sur la page du morceau">Favez</a></div>
                                        <div class="band-genre">Hip-Hop</div>
                                        <div class="band-stats">4 singles</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="band" data-href="#">
                                    <a href="artist.html" title="Aller sur la page du groupe" class="band-pic" style="background-image: url(img/fake-content/track-cover2.jpg)"></a>
                                    <div class="band-info">
                                        <div class="band-name"><a href="#" title="Aller sur la page du morceau">Sophie Harsh</a></div>
                                        <div class="band-genre">Punk</div>
                                        <div class="band-stats">7 singles</div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>

                </section>

                <section>

                    <header>
                        <ul class="nav nav-tabs nav-tabs-upper">
                            <li class="active"><a href="#new-tracks" data-toggle="tab">On Air Singles </a></li>
                            <li><a href="#new-tracks" data-toggle="tab">New Singles</a></li>
                            <li><a href="#new-tracks" data-toggle="tab">Stats</a></li>
                        </ul>
                    </header>

                    <div class="tab-content">

                        <ul id="new-tracks" class="track-grid tab-pane active">
                            <li>
                                <div class="track" data-href="#">
                                    <img src="img/fake-content/track-cover1.jpg" class="track-cover" alt="">
                                    <div class="btn-play btn-play-medium">
                                        <i class="icon-play"></i>
                                    </div>
                                    <div class="track-info">
                                        <div class="track-info-overlay">
                                            <div class="track-title"><a href="#" title="Aller sur la page du morceau">Sudden Attraction</a></div>
                                            <div class="track-artist"><a href="#" title="Aller sur la page du groupe">Aurell</a></div>
                                            <div class="track-genre">Rock</div>
                                        </div>
                                    </div>
                                    <div class="track-options item-options dropdown">
                                        <a href="#" class="btn-options icon-dot-3 dropdown-toggle" data-toggle="dropdown"></a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <li><a href=""><i class="icon-list-add"></i> Ajouter à une playlist</a></li>
                                            <li><a href=""><i class="icon-note-beamed"></i> Smarlist</a></li>
                                            <li><a href=""><i class="icon-share"></i> Partager</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="track" data-href="#">
                                    <img src="img/fake-content/track-cover3.jpg" class="track-cover" alt="">
                                    <div class="btn-play btn-play-medium">
                                        <i class="icon-play"></i>
                                    </div>
                                    <div class="track-info">
                                        <div class="track-info-overlay">
                                            <div class="track-title"><a href="#" title="Aller sur la page du morceau">Balanced Guys</a></div>
                                            <div class="track-artist"><a href="#" title="Aller sur la page du groupe">Groove Druids</a></div>
                                            <div class="track-genre">Pop</div>
                                        </div>
                                    </div>
                                    <a href="#" class="btn-options icon-dot-3"></a>
                                </div>
                            </li>
                            <li>
                                <div class="track" data-href="#">
                                    <img src="img/fake-content/track-cover4.jpg" class="track-cover" alt="">
                                    <div class="btn-play btn-play-medium">
                                        <i class="icon-play"></i>
                                    </div>
                                    <div class="track-info">
                                        <div class="track-title"><a href="#" title="Aller sur la page du morceau">Balanced Guys</a></div>
                                        <div class="track-artist"><a href="#" title="Aller sur la page du groupe">Groove Druids</a></div>
                                        <div class="track-genre">Pop</div>
                                    </div>
                                    <a href="#" class="btn-options icon-dot-3"></a>
                                </div>
                            </li>
                            <li>
                                <div class="track" data-href="#">
                                    <img src="img/fake-content/track-cover2.jpg" class="track-cover" alt="">
                                    <div class="btn-play btn-play-medium">
                                        <i class="icon-play"></i>
                                    </div>
                                    <div class="track-info">
                                        <div class="track-title"><a href="#" title="Aller sur la page du morceau">Pussy Kat Kill Kill</a></div>
                                        <div class="track-artist"><a href="#" title="Aller sur la page du groupe">Chetah Woman</a></div>
                                        <div class="track-genre">Electro</div>
                                    </div>
                                    <a href="#" class="btn-options icon-dot-3"></a>
                                </div>
                            </li>
                            <li>
                                <div class="track" data-href="#">
                                    <img src="img/fake-content/track-cover1.jpg" class="track-cover" alt="">
                                    <div class="btn-play btn-play-medium">
                                        <i class="icon-play"></i>
                                    </div>
                                    <div class="track-info">
                                        <a href="#" class="btn-video icon-video" title="View the video"></a>
                                        <div class="track-title"><a href="#" title="Aller sur la page du morceau">Sudden Attraction For The Moon March WTF Is Th…</a></div>
                                        <div class="track-artist"><a href="#" title="Aller sur la page du groupe">Aurell</a></div>
                                        <div class="track-genre">Rock</div>
                                    </div>
                                    <a href="#" class="btn-options icon-dot-3"></a>
                                </div>
                            </li>
                            <li>
                                <div class="track" data-href="#">
                                    <img src="img/fake-content/track-cover2.jpg" class="track-cover" alt="">
                                    <div class="btn-play btn-play-medium">
                                        <i class="icon-play"></i>
                                    </div>
                                    <div class="track-info">
                                        <div class="track-title"><a href="#" title="Aller sur la page du morceau">Pussy Kat Kill Kill</a></div>
                                        <div class="track-artist"><a href="#" title="Aller sur la page du groupe">Chetah Woman And The Awesome Indian Riders</a></div>
                                        <div class="track-genre">Electro</div>
                                    </div>
                                    <a href="#" class="btn-options icon-dot-3"></a>
                                </div>
                            </li>
                        </ul>

                    </div>

                </section>

            </div>
        </div>

    </div>

</div>
