---
title: mx3 homepage
layout: layout-authenticated
---

<div class="banner dark-section">
    <div class="banner-wrapper">
        <div class="site-intro">
            <h1>The swiss music portal</h1>
            <p>MX3 c’est le lieu incontournable de la musique actuelle suisse. Un carrefour où se rencontrent musiciens, professionnels, fans, labels, clubs, festivals, associations et radios !</p>
            <p><a href="">Learn more about MX3</a></p>
            <p class="signup"><a href="" class="btn btn-warning btn-large">Sign up</a></p>
        </div>
        <div class="band-carousel">
            <div class="band-featured active" style="background-image: url(img/fake-content/band-pic.jpg)">
                <div class="band-featured-info">
                    <div class="radio-badges">
                        <span class="radio-badge radio-badge-couleur3">Couleur3</span>
                        <span class="radio-badge radio-badge-on-air">On Air</span>
                    </div>
                    <a href="#" class="btn-play btn-play-large"><i class="icon-play"></i></a>
                    <a href="#" class="band-featured-name" title="Visit the artist's profile"><span class="band-featured-genre">Rock</span>The Dead Experience</a>
                </div>
            </div>
            <div class="band-featured" style="background-image: url(img/fake-content/band2-pic.jpg)">
            </div>
        </div>
        <a href="#" class="band-carousel-next icon-right-open-big"></a>
    </div>
</div>

<div class="section">

    <div class="col1 home-radio-list">
        <h2 class="title">Our Live Radios</h2>
        <ul class="unstyled">
            <li><a href="#">COULEUR3</a></li>
            <li><a href="#">DRS3</a></li>
            <li><a href="#">RETE TRE</a></li>
            <li><a href="#">DRS VIRUS</a></li>
            <li><a href="#">RR</a></li>
        </ul>
    </div>

    <div class="col2">
            <div>
            <header>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#">New singles</a></li>
                    <li><a href="#"><i class="icon-signal"></i> On Air Now</a></li>
                    <li><a href="#">New Bands</a></li>
                </ul>
            </header>

            <ul class="track-grid">
                <li>
                    <div class="track" data-href="#" data-title="Listen to this track">
                        <img src="img/fake-content/track-cover1.jpg" class="track-cover" alt="">
                        <div class="btn-play btn-play-medium">
                            <i class="icon-play"></i>
                        </div>
                        <div class="track-info" style="background:url(../img/fake-content/track-cover1.jpg) center center no-repeat; background-size:100%;">
                            <div class="track-info-overlay">
                                <a href="#" class="track-title">Sudden Attraction</a>
                                <a href="#" class="track-artist">Aurell</a>
                                <div class="track-genre">Rock</div>
                            </div>
                        </div>
                        <a href="#" class="btn-options icon-dot-3"></a>
                    </div>
                </li>
                <li>
                    <div class="track" data-href="#" data-title="Listen to this track">
                        <img src="img/fake-content/track-cover2.jpg" class="track-cover" alt="">
                        <div class="btn-play btn-play-medium">
                            <i class="icon-play"></i>
                        </div>
                        <div class="track-info" style="background:url(../img/fake-content/track-cover2.jpg) center center no-repeat; background-size:100%;">
                            <div class="track-info-overlay">
                                <a href="#" class="track-title">Pussy Kat Kill Kill</a>
                                <a href="#" class="track-artist">Chetah Woman</a>
                                <div class="track-genre">Electro</div>
                            </div>
                        </div>
                        <a href="#" class="btn-options icon-dot-3"></a>
                    </div>
                </li>
                <li>
                    <div class="track" data-href="#" data-title="Listen to this track">
                        <img src="img/fake-content/track-cover3.jpg" class="track-cover" alt="">
                        <div class="btn-play btn-play-medium">
                            <i class="icon-play"></i>
                        </div>
                        <div class="track-info" style="background:url(../img/fake-content/track-cover3.jpg) center center no-repeat; background-size:100%;">
                            <div class="track-info-overlay">
                                <a href="#" class="track-title">Balanced Guys</a>
                                <a href="#" class="track-artist">Groove Druids</a>
                                <div class="track-genre">Pop</div>
                            </div>
                        </div>
                        <a href="#" class="btn-options icon-dot-3"></a>
                    </div>
                </li>
                <li>
                    <div class="track" data-href="#" data-title="Listen to this track">
                        <img src="img/fake-content/track-cover4.jpg" class="track-cover" alt="">
                        <div class="btn-play btn-play-medium">
                            <i class="icon-play"></i>
                        </div>
                        <div class="track-info" style="background:url(../img/fake-content/track-cover4.jpg) center center no-repeat; background-size:100%;">
                            <div class="track-info-overlay">
                                <a href="#" class="track-title">Balanced Guys</a>
                                <a href="#" class="track-artist">Groove Druids</a>
                                <div class="track-genre">Pop</div>
                            </div>
                        </div>
                        <a href="#" class="btn-options icon-dot-3"></a>
                    </div>
                </li>
                <li>
                    <div class="track" data-href="#" data-title="Listen to this track">
                        <img src="img/fake-content/track-cover1.jpg" class="track-cover" alt="">
                        <div class="btn-play btn-play-medium">
                            <i class="icon-play"></i>
                        </div>
                        <div class="track-info" style="background:url(../img/fake-content/track-cover1.jpg) center center no-repeat; background-size:100%;">
                            <div class="track-info-overlay">
                                <a href="#" class="track-title">Sudden Attraction</a>
                                <a href="#" class="track-artist">Aurell</a>
                                <div class="track-genre">Rock</div>
                            </div>
                        </div>
                        <a href="#" class="btn-options icon-dot-3"></a>
                    </div>
                </li>
                <li>
                    <div class="track" data-href="#" data-title="Listen to this track">
                        <img src="img/fake-content/track-cover2.jpg" class="track-cover" alt="">
                        <div class="btn-play btn-play-medium">
                            <i class="icon-play"></i>
                        </div>
                        <div class="track-info" style="background:url(../img/fake-content/track-cover2.jpg) center center no-repeat; background-size:100%;">
                            <div class="track-info-overlay">
                                <a href="#" class="track-title">Pussy Kat Kill Kill</a>
                                <a href="#" class="track-artist">Chetah Woman</a>
                                <div class="track-genre">Electro</div>
                            </div>
                        </div>
                        <a href="#" class="btn-options icon-dot-3"></a>
                    </div>
                </li>
                <li>
                    <div class="track" data-href="#" data-title="Listen to this track">
                        <img src="img/fake-content/track-cover1.jpg" class="track-cover" alt="">
                        <div class="btn-play btn-play-medium">
                            <i class="icon-play"></i>
                        </div>
                        <div class="track-info" style="background:url(../img/fake-content/track-cover1.jpg) center center no-repeat; background-size:100%;">
                            <div class="track-info-overlay">
                                <a href="#" class="track-title">Sudden Attraction</a>
                                <a href="#" class="track-artist">Aurell</a>
                                <div class="track-genre">Rock</div>
                            </div>
                        </div>
                        <a href="#" class="btn-options icon-dot-3"></a>
                    </div>
                </li>
                <li>
                    <div class="track" data-href="#" data-title="Listen to this track">
                        <img src="img/fake-content/track-cover2.jpg" class="track-cover" alt="">
                        <div class="btn-play btn-play-medium">
                            <i class="icon-play"></i>
                        </div>
                        <div class="track-info" style="background:url(../img/fake-content/track-cover2.jpg) center center no-repeat; background-size:100%;">
                            <div class="track-info-overlay">
                                <a href="#" class="track-title">Pussy Kat Kill Kill</a>
                                <a href="#" class="track-artist">Chetah Woman</a>
                                <div class="track-genre">Electro</div>
                            </div>
                        </div>
                        <a href="#" class="btn-options icon-dot-3"></a>
                    </div>
                </li>
                <li>
                    <div class="track" data-href="#" data-title="Listen to this track">
                        <img src="img/fake-content/track-cover3.jpg" class="track-cover" alt="">
                        <div class="btn-play btn-play-medium">
                            <i class="icon-play"></i>
                        </div>
                        <div class="track-info" style="background:url(../img/fake-content/track-cover3.jpg) center center no-repeat; background-size:100%;">
                            <div class="track-info-overlay">
                                <a href="#" class="track-title">Balanced Guys</a>
                                <a href="#" class="track-artist">Groove Druids</a>
                                <div class="track-genre">Pop</div>
                            </div>
                        </div>
                        <a href="#" class="btn-options icon-dot-3"></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>

<div class="section oblique-ddd-bottom" style="height:500px;">

    <div class="col1">
        <h2 class="title">MX3 News</h2>
        <ul class="unstyled">
            <li>blabla</li>
        </ul>
    </div>

    <div class="col2 home-concerts">
        <div>
            <header>
                <h2 class="title">Next Concerts<i class="icon-right-open-big"></i></h2>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#">Suisse romande</a></li>
                    <li><a href="#">Suisse allemande</a></li>
                    <li><a href="#">Tessin</a></li>
                    <li><a href="#">Grisons</a></li>
                </ul>
            </header>
        </div>
    </div>

</div>
