---
title: mx3 homepage
layout: layout-not-authenticated
---

<div class="banner dark-section">

    <div class="banner-intro site-intro">
        <div class="banner-intro-content">
            <h1>Music</h1>
            <p>MX3 c’est le lieu incontournable de la musique actuelle suisse. Un carrefour où se rencontrent musiciens, professionnels, fans, labels, clubs, festivals, associations et radios !</p>
            <p><a href="" class="link-dark-bg">En savoir plus sur MX3</a></p>
        </div>
        <div class="banner-intro-action">
            <p><a href="" class="btn btn-warning btn-large btn-signup">S’inscrire</a></p>
            <p>19573 groupes suisses déjà inscrits !</p>
        </div>
    </div>

    <div class="carousel">
        <div class="carousel-wrapper">
            <div class="carousel-item band-featured active" style="background-image: url(img/fake-content/band5-pic.jpg)">
                <div class="band-featured-info">
                    <div class="radio-badges">
                        <span class="radio-badge radio-badge-couleur3">Couleur3</span>
                        <span class="radio-badge radio-badge-on-air">On Air</span>
                    </div>
                    <a href="#" class="btn-play btn-play-large"><i class="icon-play"></i></a>
                    <a href="profile-band.html" class="band-featured-name" title="Aller sur le profil de The Dead Experience"><span class="band-featured-genre">Rock</span>Mister Backliner</a>
                </div>
            </div>
        </div>
    </div>

    <div class="carousel-nav">
        <div class="carousel-item-mini">
            <div class="band-featured-mini" style="background-image: url(img/fake-content/band2-pic.jpg)">
                <a href="profile-band.html" class="band-featured-mini-name" title="Visit the artist's profile"><span class="band-featured-mini-genre">Pop</span>Sophie Hunger</a>
            </div>
        </div>
        <div class="carousel-item-mini">
            <div class="band-featured-mini" style="background-image: url(img/fake-content/band4-pic.jpg)">
                <a href="profile-band.html" class="band-featured-mini-name" title="Visit the artist's profile"><span class="band-featured-mini-genre">Rock</span>Kassette</a>
            </div>
        </div>
        <div class="carousel-item-mini">
            <div class="band-featured-mini" style="background-image: url(img/fake-content/band-pic.jpg)">
                <a href="profile-band.html" class="band-featured-mini-name" title="Visit the artist's profile"><span class="band-featured-mini-genre">Rock</span>The Deadline Experience</a>
            </div>
        </div>
        <div class="carousel-item-mini">
            <div class="band-featured-mini" style="background-image: url(img/fake-content/band6-pic.jpg)">
                <a href="profile-band.html" class="band-featured-mini-name" title="Visit the artist's profile"><span class="band-featured-mini-genre">Hip-Hop</span>Steff la Cheffe</a>
            </div>
        </div>
    </div>

</div>

<div class="content-wrapper">

    <div class="row-fluid">

        <div class="span8 home-main-content">
            <div>

                <section>

                    <header>
                        <ul class="nav nav-tabs nav-tabs-upper">
                            <li class="active"><a href="#bands-popular" data-toggle="tab">New singles</a></li>
                            <li><a href="#bands-onair" data-toggle="tab">New On Air</a></li>
                            <li><a href="#bands-onair" data-toggle="tab">New bands</a></li>
                            <li><a href="#bands-onair" data-toggle="tab">The Flow</a></li>
                        </ul>
                    </header>

                    <div class="tab-content">

                        <ul id="bands-popular" class="track-grid tab-pane active">
                            <li>
                                <div class="track" data-href="#">
                                    <img src="img/fake-content/track-cover1.jpg" class="track-cover" alt="">
                                    <div class="btn-play btn-play-medium">
                                        <i class="icon-play"></i>
                                    </div>
                                    <div class="track-info">
                                        <a href="#" class="btn-free-download icon-down" title="Free download"></a>
                                        <div class="track-info-overlay">
                                            <div class="track-title"><a href="page-single.html" title="Aller sur la page du morceau">Sudden Attraction</a></div>
                                            <div class="track-artist"><a href="profile-band.html" title="Aller sur la page du groupe">Rootwords</a></div>
                                            <div class="track-genre">Hip-Hop</div>
                                        </div>
                                    </div>
                                    <div class="track-options item-options dropdown">
                                        <a href="#" class="btn-options icon-dot-3 dropdown-toggle" data-toggle="dropdown"></a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <li><a href=""><i class="icon-list-add"></i> Ajouter à une playlist</a></li>
                                            <li><a href=""><i class="icon-note-beamed"></i> Smarlist</a></li>
                                            <li><a href=""><i class="icon-share"></i> Partager</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="track" data-href="#">
                                    <img src="img/fake-content/track-cover3.jpg" class="track-cover" alt="">
                                    <div class="btn-play btn-play-medium">
                                        <i class="icon-play"></i>
                                    </div>
                                    <div class="track-info">
                                        <div class="track-info-overlay">
                                            <div class="track-title"><a href="#" title="Aller sur la page du morceau">Balanced Guys</a></div>
                                            <div class="track-artist"><a href="#" title="Aller sur la page du groupe">Groove Druids</a></div>
                                            <div class="track-genre">Pop</div>
                                        </div>
                                    </div>
                                    <a href="#" class="btn-options icon-dot-3"></a>
                                </div>
                            </li>
                            <li>
                                <div class="track" data-href="#">
                                    <img src="img/fake-content/track-cover4.jpg" class="track-cover" alt="">
                                    <div class="btn-play btn-play-medium">
                                        <i class="icon-play"></i>
                                    </div>
                                    <div class="track-info">
                                        <div class="track-title"><a href="#" title="Aller sur la page du morceau">Balanced Guys</a></div>
                                        <div class="track-artist"><a href="#" title="Aller sur la page du groupe">Groove Druids</a></div>
                                        <div class="track-genre">Pop</div>
                                    </div>
                                    <a href="#" class="btn-options icon-dot-3"></a>
                                </div>
                            </li>
                            <li>
                                <div class="track" data-href="#">
                                    <img src="img/fake-content/track-cover2.jpg" class="track-cover" alt="">
                                    <div class="btn-play btn-play-medium">
                                        <i class="icon-play"></i>
                                    </div>
                                    <div class="track-info">
                                        <a href="#" class="btn-free-download icon-down" title="Free download"></a>
                                        <div class="track-title"><a href="#" title="Aller sur la page du morceau">Pussy Kat Kill Kill</a></div>
                                        <div class="track-artist"><a href="#" title="Aller sur la page du groupe">Chetah Woman</a></div>
                                        <div class="track-genre">Electro</div>
                                    </div>
                                    <a href="#" class="btn-options icon-dot-3"></a>
                                </div>
                            </li>
                            <li>
                                <div class="track" data-href="#">
                                    <img src="img/fake-content/track-cover1.jpg" class="track-cover" alt="">
                                    <div class="btn-play btn-play-medium">
                                        <i class="icon-play"></i>
                                    </div>
                                    <div class="track-info">
                                        <a href="#" class="btn-video icon-video" title="View the video"></a>
                                        <div class="track-title"><a href="#" title="Aller sur la page du morceau">Sudden Attraction For The Moon March WTF Is Th…</a></div>
                                        <div class="track-artist"><a href="#" title="Aller sur la page du groupe">Aurell</a></div>
                                        <div class="track-genre">Rock</div>
                                    </div>
                                    <a href="#" class="btn-options icon-dot-3"></a>
                                </div>
                            </li>
                            <li>
                                <div class="track" data-href="#">
                                    <img src="img/fake-content/track-cover2.jpg" class="track-cover" alt="">
                                    <div class="btn-play btn-play-medium">
                                        <i class="icon-play"></i>
                                    </div>
                                    <div class="track-info">
                                        <div class="track-title"><a href="#" title="Aller sur la page du morceau">Pussy Kat Kill Kill</a></div>
                                        <div class="track-artist"><a href="#" title="Aller sur la page du groupe">Chetah Woman And The Awesome Indian Riders</a></div>
                                        <div class="track-genre">Electro</div>
                                    </div>
                                    <a href="#" class="btn-options icon-dot-3"></a>
                                </div>
                            </li>
                        </ul>

                        <ul id="bands-onair" class="track-grid tab-pane">
                            <li>
                                <div class="band" data-href="#">
                                    <a href="artist.html" title="Aller sur la page du groupe" class="band-pic" style="background-image: url(img/fake-content/track-cover3.jpg)"></a>
                                    <div class="band-info">
                                        <span class="onair">On Air</span>
                                        <div class="band-name"><a href="#" title="Aller sur la page du groupe">Chetah Woman</a></div>
                                        <div class="band-genre">Punk</div>
                                        <div class="band-stats">4 singles</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="band" data-href="#">
                                    <a href="artist.html" title="Aller sur la page du groupe" class="band-pic" style="background-image: url(img/fake-content/track-cover4.jpg)"></a>
                                    <div class="band-info">
                                        <span class="onair">On Air</span>
                                        <div class="band-name"><a href="#" title="Aller sur la page du groupe">Magicrays</a></div>
                                        <div class="band-genre">Rock</div>
                                        <div class="band-stats">9 singles</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="band" data-href="#">
                                    <a href="artist.html" title="Aller sur la page du groupe" class="band-pic" style="background-image: url(img/fake-content/track-cover3.jpg)"></a>
                                    <div class="band-info">
                                        <div class="band-name"><a href="#" title="Aller sur la page du groupe">Hallo Kritty</a></div>
                                        <div class="band-genre">Jazz</div>
                                        <div class="band-stats">1 single</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="band" data-href="#">
                                    <a href="artist.html" title="Aller sur la page du groupe" class="band-pic" style="background-image: url(img/fake-content/track-cover1.jpg)"></a>
                                    <div class="band-info">
                                        <div class="band-name"><a href="#" title="Aller sur la page du groupe">Dead or Alive</a></div>
                                        <div class="band-genre">Folk/Country</div>
                                        <div class="band-stats"></div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="band" data-href="#">
                                    <a href="artist.html" title="Aller sur la page du groupe" class="band-pic" style="background-image: url(img/fake-content/track-cover2.jpg)"></a>
                                    <div class="band-info">
                                        <span class="onair">On Air</span>
                                        <div class="band-name"><a href="#" title="Aller sur la page du morceau">Favez</a></div>
                                        <div class="band-genre">Hip-Hop</div>
                                        <div class="band-stats">4 singles</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="band" data-href="#">
                                    <a href="artist.html" title="Aller sur la page du groupe" class="band-pic" style="background-image: url(img/fake-content/track-cover2.jpg)"></a>
                                    <div class="band-info">
                                        <div class="band-name"><a href="#" title="Aller sur la page du morceau">Sophie Harsh</a></div>
                                        <div class="band-genre">Punk</div>
                                        <div class="band-stats">7 singles</div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>

                </section>

                <section class="home-concerts last">

                    <header>
                        <h2 class="section-title">Prochain Concerts</h2>
                        <ul class="nav nav-tabs nav-tabs-upper">
                            <li class="active"><a href="#">Suisse romande</a></li>
                            <li><a href="#">Suisse allemande</a></li>
                            <li><a href="#">Tessin</a></li>
                            <li><a href="#">Grisons</a></li>
                        </ul>
                    </header>
                    <ul class="concert-list">
                        <li>
                            <div class="concert-date">
                                <span class="concert-date-weekday">Jeudi</span>
                                <span class="concert-date-day-month">21 Fév</span>
                                <span class="concert-date-year">2013</span>
                            </div>
                            <ul class="concert-grid">
                                <li>
                                    <div class="concert">
                                        <a href="page-concert.html" title="Aller sur la page du concert" class="concert-cover" style="background-image: url(img/fake-content/track-cover4.jpg)"></a>
                                        <div class="concert-hour">21h</div>
                                        <div class="concert-info">
                                            <div class="concert-artist"><a href="#">March</a></div>
                                            <div class="concert-venue"><a href="#">Le Lido Comedy & Club</a></div>
                                            <div class="concert-venue-location">Lausanne - VD</div>
                                        </div>
                                        <a href="#" class="btn-options icon-plus" title="Ajouter à la sélection de concerts"></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="concert">
                                        <a href="page-concert.html" title="Aller sur la page du concert" class="concert-cover" style="background-image: url(img/fake-content/track-cover2.jpg)"></a>
                                        <div class="concert-hour">22h</div>
                                        <div class="concert-info">
                                            <div class="concert-artist"><a href="#">Sumo</a></div>
                                            <div class="concert-venue"><a href="#">Char Noir</a></div>
                                            <div class="concert-venue-location">Carouge - GE</div>
                                        </div>
                                        <a href="#" class="btn-options is-selected icon-check" title="Concert déjà ajouté à la sélection de concerts"></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="concert">
                                        <a href="page-concert.html" title="Aller sur la page du concert" class="concert-cover" style="background-image: url(img/fake-content/track-cover1.jpg)"></a>
                                        <div class="concert-hour">22h30</div>
                                        <div class="concert-info">
                                            <div class="concert-artist"><a href="#">Beastie Girls</a></div>
                                            <div class="concert-venue"><a href="#">Le Romandie</a></div>
                                            <div class="concert-venue-location">Lausanne - VD</div>
                                        </div>
                                        <a href="#" class="btn-options icon-plus" title="Ajouter à la sélection de concerts"></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="concert">
                                        <a href="page-concert.html" title="Aller sur la page du concert" class="concert-cover" style="background-image: url(img/fake-content/track-cover3.jpg)"></a>
                                        <div class="concert-hour">22h</div>
                                        <div class="concert-info">
                                            <div class="concert-artist"><a href="#">Beastie Girls</a></div>
                                            <div class="concert-venue"><a href="#">Le Romandie</a></div>
                                            <div class="concert-venue-location">Lausanne - VD</div>
                                        </div>
                                        <a href="#" class="btn-options icon-plus" title="Ajouter à la sélection de concerts"></a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="concert-date">
                                <span class="concert-date-weekday">Vendredi</span>
                                <span class="concert-date-day-month">22 Fév</span>
                                <span class="concert-date-year">2013</span>
                            </div>
                            <ul class="concert-grid">
                                <li>
                                    <div class="concert">
                                        <a href="page-concert.html" title="Aller sur la page du concert" class="concert-cover" style="background-image: url(img/fake-content/track-cover1.jpg)"></a>
                                        <div class="concert-hour">21h45</div>
                                        <div class="concert-info">
                                            <div class="concert-artist"><a href="#">Sumo</a></div>
                                            <div class="concert-venue"><a href="#">Char Noir</a></div>
                                            <div class="concert-venue-location">Carouge - GE</div>
                                        </div>
                                        <a href="#" class="btn-options icon-plus" title="Ajouter à la sélection de concerts"></a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="concert-date">
                                <span class="concert-date-weekday">Samedi</span>
                                <span class="concert-date-day-month">23 Fév</span>
                                <span class="concert-date-year">2013</span>
                            </div>
                            <ul class="concert-grid">
                                <li>
                                    <div class="concert">
                                        <a href="page-concert.html" title="Aller sur la page du concert" class="concert-cover" style="background-image: url(img/fake-content/track-cover2.jpg)"></a>
                                        <div class="concert-hour">21h</div>
                                        <div class="concert-info">
                                            <div class="concert-artist"><a href="#">March</a></div>
                                            <div class="concert-venue"><a href="#">Le Lido Comedy & Club</a></div>
                                            <div class="concert-venue-location">Lausanne - VD</div>
                                        </div>
                                        <a href="#" class="btn-options icon-plus" title="Ajouter à la sélection de concerts"></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="concert">
                                        <a href="page-concert.html" title="Aller sur la page du concert" class="concert-cover" style="background-image: url(img/fake-content/track-cover3.jpg)"></a>
                                        <div class="concert-hour">22h</div>
                                        <div class="concert-info">
                                            <div class="concert-artist"><a href="#">Sumo</a></div>
                                            <div class="concert-venue"><a href="#">Char Noir</a></div>
                                            <div class="concert-venue-location">Carouge - GE</div>
                                        </div>
                                        <a href="#" class="btn-options is-selected icon-check" title="Concert déjà ajouté à la sélection de concerts"></a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <footer>
                        <a href="#" class="btn">Voir les concerts suivants</a>
                    </footer>

                </section>

            </div>
        </div>

        <div class="span4">
            <div>

                <section class="home-news">
                    <h2 class="section-title">News</h2>
                    <ul class="home-news-list news-list">
                        <li>
                            <div class="news">
                                <time datetime="" class="news-date">5 avril 2013</time>
                                <a href="">
                                    <img src="img/fake-content/news1.png" class="news-pic" alt="">
                                    <span class="news-info">
                                        <span class="news-author">Vonation</span>
                                        <span class="news-title">Nouvel album «Flashback»</span>
                                    </span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="news">
                                <time datetime="" class="news-date">4 avril 2013</time>
                                <a href="">
                                    <img src="img/fake-content/news2.png" class="news-pic" alt="">
                                    <span class="news-info">
                                        <span class="news-author">MX3</span>
                                        <span class="news-title">L'événement national et musical 2013!</span>
                                    </span>
                                </a>
                            </div>
                        </li>
                        <!--
                        <li>
                            <div class="news">
                                <time datetime="" class="news-date">4 avril 2013</time>
                                <a href="">
                                    <img src="img/fake-content/news3.png" class="news-pic" alt="">
                                    <span class="news-info">
                                        <span class="news-author">Lunatic Fringe</span>
                                        <span class="news-title">Enigma Suite</span>
                                    </span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="news">
                                <time datetime="" class="news-date">3 avril 2013</time>
                                <a href="">
                                    <img src="img/fake-content/news2.png" class="news-pic" alt="">
                                    <span class="news-info">
                                        <span class="news-author">MX3</span>
                                        <span class="news-title">MX3 fait peau neuve !</span>
                                    </span>
                                </a>
                            </div>
                        </li>
                        -->
                    </ul>
                </section>

                <section class="home-playlists">
                    <h2 class="section-title">Playlists</h2>
                    <ul class="home-playlists-list">
                        <li>
                            <div class="playlist-item playlist-radio">
                                <img src="img/logos/couleur3-logo-small.png" class="playlist-item-pic" alt="">
                                <div class="btn-play btn-play-medium negative">
                                    <i class="icon-play"></i>
                                </div>
                                <div class="playlist-item-info">
                                    <div class="playlist-item-title"><a href="" title="Aller sur la page de la playlist">Sélection Couleur3</a></div>
                                    <div class="playlist-item-author">par <a href="" title="Aller sur la page de Couleur 3">Couleur3</a></div>
                                    <div class="playlist-item-stats">35 singles</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="playlist-item playlist-radio">
                                <img src="img/logos/retetre-logo-small.png" class="playlist-item-pic" alt="">
                                <div class="btn-play btn-play-medium negative">
                                    <i class="icon-play"></i>
                                </div>
                                <div class="playlist-item-info">
                                    <div class="playlist-item-title"><a href="" title="Aller sur la page de la playlist">Sélection Rete Tre</a></div>
                                    <div class="playlist-item-author">par <a href="" title="Aller sur la page de Couleur 3">Rete Tre</a></div>
                                    <div class="playlist-item-stats">23 singles</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="playlist-item playlist-radio">
                                <img src="img/logos/srf-virus-logo-small.png" class="playlist-item-pic" alt="">
                                <div class="btn-play btn-play-medium negative">
                                    <i class="icon-play"></i>
                                </div>
                                <div class="playlist-item-info">
                                    <div class="playlist-item-title"><a href="" title="Aller sur la page de la playlist">Sélection SRF Virus</a></div>
                                    <div class="playlist-item-author">par <a href="" title="Aller sur la page de Couleur 3">SRF Virus</a></div>
                                    <div class="playlist-item-stats">21 singles</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="playlist-item playlist-radio">
                                <img src="img/logos/srf3-logo-small.png" class="playlist-item-pic" alt="">
                                <div class="btn-play btn-play-medium negative">
                                    <i class="icon-play"></i>
                                </div>
                                <div class="playlist-item-info">
                                    <div class="playlist-item-title"><a href="" title="Aller sur la page de la playlist">Sélection SRF 3</a></div>
                                    <div class="playlist-item-author">par <a href="" title="Aller sur la page de Couleur 3">SRF 3</a></div>
                                    <div class="playlist-item-stats">35 singles</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="playlist-item playlist-radio">
                                <img src="img/logos/rtr-logo-small.png" class="playlist-item-pic" alt="">
                                <div class="btn-play btn-play-medium negative">
                                    <i class="icon-play"></i>
                                </div>
                                <div class="playlist-item-info">
                                    <div class="playlist-item-title"><a href="" title="Aller sur la page de la playlist">Sélection RTR</a></div>
                                    <div class="playlist-item-author">par <a href="" title="Aller sur la page de Couleur 3">RTR</a></div>
                                    <div class="playlist-item-stats">18 singles</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>

                <!--
                <div class="sidebar-ad-space">
                    <img src="img/ads/ad4.gif" alt="ad">
                    <div class="ad-space-caption">Publicité</div>
                </div>
                -->

            </div>
        </div>

    </div>

</div>
