---
title: mx3 homepage
---

<div class="banner">
    <div class="banner-wrapper">
        <div class="site-intro">
            <h1>The swiss music portal</h1>
            <p>MX3 c’est le lieu incontournable de la musique actuelle suisse. Un carrefour où se rencontrent musiciens, professionnels, fans, labels, clubs, festivals, associations et radios !</p>
            <p><a href="">Learn more about MX3</a></p>
            <p class="signup"><a href="" class="btn btn-warning btn-large">Sign up</a></p>
        </div>
        <div class="band-carousel">
            <div class="band-featured active" style="background-image: url(img/fake-content/band-pic.jpg)">
                <div class="band-featured-info">
                    <div class="radio-badges">
                        <span class="radio-badge radio-badge-couleur3">Couleur3</span>
                        <span class="radio-badge radio-badge-on-air">On Air</span>
                    </div>
                    <a href="#" class="btn-play btn-play-large"><i class="icon-play"></i></a>
                    <a href="#" class="band-featured-name" title="Visit the artist's profile"><span class="band-featured-genre">Rock</span>The Dead Experience</a>
                </div>
            </div>
            <div class="band-featured" style="background-image: url(img/fake-content/band2-pic.jpg)">

            </div>
        </div>
        <a href="#" class="band-carousel-next icon-right-open-big"></a>
    </div>
</div>

<div class="row-fluid show-grid">

    <div class="span4">
        <i class="icon-folder"></i> col1
    </div>

    <div class="span8">
        col2
    </div>

</div>
