---
title: mx3 homepage
layout: layout-not-authenticated
---

<div class="banner dark-section">
    <div class="banner-wrapper">
        <div class="site-intro">
            <h1>Music</h1>
            <p>MX3 c’est le lieu incontournable de la musique actuelle suisse. Un carrefour où se rencontrent musiciens, professionnels, fans, labels, clubs, festivals, associations et radios !</p>
            <p><a href="">Learn more about MX3</a></p>
            <p class="signup"><a href="" class="btn btn-warning btn-large">S’inscrire</a></p>
            <p>19573 groupes suisses déjà inscrits !</p>
        </div>
        <div class="band-carousel">
            <div class="band-featured active" style="background-image: url(img/fake-content/band-pic.jpg)">
                <div class="band-featured-info">
                    <div class="radio-badges">
                        <span class="radio-badge radio-badge-couleur3">Couleur3</span>
                        <span class="radio-badge radio-badge-on-air">On Air</span>
                    </div>
                    <a href="#" class="btn-play btn-play-large"><i class="icon-play"></i></a>
                    <a href="#" class="band-featured-name" title="Aller sur le profil de The Dead Experience"><span class="band-featured-genre">Rock</span>The Deadline Experience</a>
                </div>
            </div>
            <div class="band-featured" style="background-image: url(img/fake-content/band2-pic.jpg)">
                <div class="band-featured-info">
                    <div class="radio-badges">
                        <span class="radio-badge radio-badge-srf3">SRF3</span>
                        <span class="radio-badge radio-badge-on-air">On Air</span>
                    </div>
                    <a href="#" class="btn-play btn-play-large"><i class="icon-play"></i></a>
                    <a href="#" class="band-featured-name" title="Visit the artist's profile"><span class="band-featured-genre">Pop</span>Sophie Hunger</a>
                </div>
            </div>
        </div>
        <a href="#" class="band-carousel-next icon-right-open-big"></a>
    </div>
</div>

<div class="section sep">

    <div class="col1">

        <div class="col1-ad-space">
            <img src="img/ads/ad3.jpg" alt="ad">
            <div class="ad-space-caption">Publicité</div>
        </div>

        <h2 class="title">Nos Radios Live</h2>
        <ul class="unstyled">
            <li><a href="#">COULEUR3</a></li>
            <li><a href="#">SRF3</a></li>
            <li><a href="#">RETE TRE</a></li>
            <li><a href="#">SRF VIRUS</a></li>
            <li><a href="#">RR</a></li>
        </ul>
    </div>

    <div class="col2">
            <div>
            <header>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#">Nouveaux morceaux</a></li>
                    <li><a href="#"><i class="icon-signal"></i> On Air Now</a></li>
                    <li><a href="#">Nouveaux groupes inscrits</a></li>
                </ul>
            </header>

            <ul class="track-grid">
                <li>
                    <div class="track" data-href="#" data-title="Listen to this track">
                        <img src="img/fake-content/track-cover1.jpg" class="track-cover" alt="">
                        <div class="btn-play btn-play-medium">
                            <i class="icon-play"></i>
                        </div>
                        <div class="track-info">
                            <div class="track-info-overlay">
                                <div class="track-title"><a href="#" title="Aller sur la page du morceau">Sudden Attraction</a></div>
                                <div class="track-artist"><a href="#" title="Aller sur la page du groupe">Aurell</a></div>
                                <div class="track-genre">Rock</div>
                            </div>
                        </div>
                        <a href="#" class="btn-options icon-dot-3"></a>
                    </div>
                </li>
                <li>
                    <div class="track" data-href="#" data-title="Listen to this track">
                        <img src="img/fake-content/track-cover2.jpg" class="track-cover" alt="">
                        <div class="btn-play btn-play-medium">
                            <i class="icon-play"></i>
                        </div>
                        <div class="track-info">
                            <div class="track-info-overlay">
                                <div class="track-title"><a href="#" title="Aller sur la page du morceau">Pussy Kat Kill Kill</a></div>
                                <div class="track-artist"><a href="#" title="Aller sur la page du groupe">Chetah Woman</a></div>
                                <div class="track-genre">Electro</div>
                            </div>
                        </div>
                        <a href="#" class="btn-options icon-dot-3"></a>
                    </div>
                </li>
                <li>
                    <div class="track" data-href="#" data-title="Listen to this track">
                        <img src="img/fake-content/track-cover3.jpg" class="track-cover" alt="">
                        <div class="btn-play btn-play-medium">
                            <i class="icon-play"></i>
                        </div>
                        <div class="track-info">
                            <div class="track-info-overlay">
                                <div class="track-title"><a href="#" title="Aller sur la page du morceau">Balanced Guys</a></div>
                                <div class="track-artist"><a href="#" title="Aller sur la page du groupe">Groove Druids</a></div>
                                <div class="track-genre">Pop</div>
                            </div>
                        </div>
                        <a href="#" class="btn-options icon-dot-3"></a>
                    </div>
                </li>
                <li>
                    <div class="track" data-href="#" data-title="Listen to this track">
                        <img src="img/fake-content/track-cover4.jpg" class="track-cover" alt="">
                        <div class="btn-play btn-play-medium">
                            <i class="icon-play"></i>
                        </div>
                        <div class="track-info">
                            <div class="track-title"><a href="#" title="Aller sur la page du morceau">Balanced Guys</a></div>
                            <div class="track-artist"><a href="#" title="Aller sur la page du groupe">Groove Druids</a></div>
                            <div class="track-genre">Pop</div>
                        </div>
                        <a href="#" class="btn-options icon-dot-3"></a>
                    </div>
                </li>
                <li>
                    <div class="track" data-href="#" data-title="Listen to this track">
                        <img src="img/fake-content/track-cover1.jpg" class="track-cover" alt="">
                        <div class="btn-play btn-play-medium">
                            <i class="icon-play"></i>
                        </div>
                        <div class="track-info">
                            <a href="#" class="btn-video icon-video" title="View the video"></a>
                            <div class="track-title"><a href="#" title="Aller sur la page du morceau">Sudden Attraction</a></div>
                            <div class="track-artist"><a href="#" title="Aller sur la page du groupe">Aurell</a></div>
                            <div class="track-genre">Rock</div>
                        </div>
                        <a href="#" class="btn-options icon-dot-3"></a>
                    </div>
                </li>
                <li>
                    <div class="track" data-href="#" data-title="Listen to this track">
                        <img src="img/fake-content/track-cover2.jpg" class="track-cover" alt="">
                        <div class="btn-play btn-play-medium">
                            <i class="icon-play"></i>
                        </div>
                        <div class="track-info">
                            <div class="track-title"><a href="#" title="Aller sur la page du morceau">Pussy Kat Kill Kill</a></div>
                            <div class="track-artist"><a href="#" title="Aller sur la page du groupe">Chetah Woman</a></div>
                            <div class="track-genre">Electro</div>
                        </div>
                        <a href="#" class="btn-options icon-dot-3"></a>
                    </div>
                </li>
                <li>
                    <div class="track" data-href="#" data-title="Listen to this track">
                        <img src="img/fake-content/track-cover1.jpg" class="track-cover" alt="">
                        <div class="btn-play btn-play-medium">
                            <i class="icon-play"></i>
                        </div>
                        <div class="track-info">
                            <a href="#" class="btn-video icon-video" title="View the video"></a>
                            <div class="track-title"><a href="#" title="Aller sur la page du morceau">Sudden Attraction For The Moon March WTF Is Th…</a></div>
                            <div class="track-artist"><a href="#" title="Aller sur la page du groupe">Aurell</a></div>
                            <div class="track-genre">Rock</div>
                        </div>
                        <a href="#" class="btn-options icon-dot-3"></a>
                    </div>
                </li>
                <li>
                    <div class="track" data-href="#" data-title="Listen to this track">
                        <img src="img/fake-content/track-cover2.jpg" class="track-cover" alt="">
                        <div class="btn-play btn-play-medium">
                            <i class="icon-play"></i>
                        </div>
                        <div class="track-info">
                            <div class="track-title"><a href="#" title="Aller sur la page du morceau">Pussy Kat Kill Kill</a></div>
                            <div class="track-artist"><a href="#" title="Aller sur la page du groupe">Chetah Woman And The Awesome Indian Riders</a></div>
                            <div class="track-genre">Electro</div>
                        </div>
                        <a href="#" class="btn-options icon-dot-3"></a>
                    </div>
                </li>
                <li>
                    <div class="track" data-href="#" data-title="Listen to this track">
                        <img src="img/fake-content/track-cover3.jpg" class="track-cover" alt="">
                        <div class="btn-play btn-play-medium">
                            <i class="icon-play"></i>
                        </div>
                        <div class="track-info">
                            <div class="track-title"><a href="#" title="Aller sur la page du morceau">Balanced Guys</a></div>
                            <div class="track-artist"><a href="#" title="Aller sur la page du groupe">Groove Druids</a></div>
                            <div class="track-genre">Pop</div>
                        </div>
                        <a href="#" class="btn-options icon-dot-3"></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>

<div class="section">

    <div class="col1">
    </div>

    <div class="col2 home-concerts">
        <div>
            <header>
                <h2 class="title">Prochains Concerts<i class="icon-right-open-big"></i></h2>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#">Suisse romande</a></li>
                    <li><a href="#">Suisse allemande</a></li>
                    <li><a href="#">Tessin</a></li>
                    <li><a href="#">Grisons</a></li>
                </ul>
            </header>
            <ul class="concert-list">
                <li>
                    <div class="concert-date">
                        <span class="concert-date-weekday">Jeudi</span>
                        <span class="concert-date-day-month">21 Fév</span>
                        <span class="concert-date-year">2013</span>
                    </div>
                    <ul class="concert-grid">
                        <li>
                            <div class="concert">
                                <a href="#" title="Aller sur la page de ce concert"><img src="img/fake-content/track-cover3.jpg" class="concert-cover" alt=""></a>
                                <div class="concert-hour">21h</div>
                                <div class="concert-info">
                                    <div class="concert-artist"><a href="#">March</a></div>
                                    <div class="concert-venue"><a href="#">Le Lido Comedy & Club</a></div>
                                    <div class="concert-venue-location">Lausanne - VD</div>
                                </div>
                                <a href="#" class="btn-options icon-plus" title="Ajouter à la sélection de concerts"></a>
                            </div>
                        </li>
                        <li>
                            <div class="concert">
                                <a href="#" title="Aller sur la page de ce concert"><img src="img/fake-content/track-cover1.jpg" class="concert-cover" alt=""></a>
                                <div class="concert-hour">22h</div>
                                <div class="concert-info">
                                    <div class="concert-artist"><a href="#">Sumo</a></div>
                                    <div class="concert-venue"><a href="#">Char Noir</a></div>
                                    <div class="concert-venue-location">Carouge - GE</div>
                                </div>
                                <a href="#" class="btn-options is-selected icon-check" title="Ajouter à la sélection de concerts"></a>
                            </div>
                        </li>
                        <li>
                            <div class="concert">
                                <a href="#" title="Aller sur la page de ce concert"><img src="img/fake-content/track-cover4.jpg" class="concert-cover" alt=""></a>
                                <div class="concert-hour">22h30</div>
                                <div class="concert-info">
                                    <div class="concert-artist"><a href="#">Beastie Girls</a></div>
                                    <div class="concert-venue"><a href="#">Le Romandie</a></div>
                                    <div class="concert-venue-location">Lausanne - VD</div>
                                </div>
                                <a href="#" class="btn-options icon-plus" title="Ajouter à la sélection de concerts"></a>
                            </div>
                        </li>
                        <li>
                            <div class="concert">
                                <a href="#" title="Aller sur la page de ce concert"><img src="img/fake-content/track-cover4.jpg" class="concert-cover" alt=""></a>
                                <div class="concert-hour">22h</div>
                                <div class="concert-info">
                                    <div class="concert-artist"><a href="#">Beastie Girls</a></div>
                                    <div class="concert-venue"><a href="#">Le Romandie</a></div>
                                    <div class="concert-venue-location">Lausanne - VD</div>
                                </div>
                                <a href="#" class="btn-options icon-plus" title="Ajouter à la sélection de concerts"></a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="concert-date">
                        <span class="concert-date-weekday">Vendredi</span>
                        <span class="concert-date-day-month">22 Fév</span>
                        <span class="concert-date-year">2013</span>
                    </div>
                    <ul class="concert-grid">
                        <li>
                            <div class="concert">
                                <a href="#" title="Aller sur la page de ce concert"><img src="img/fake-content/track-cover4.jpg" class="concert-cover" alt=""></a>
                                <div class="concert-hour">21h45</div>
                                <div class="concert-info">
                                    <div class="concert-artist"><a href="#">Sumo</a></div>
                                    <div class="concert-venue"><a href="#">Char Noir</a></div>
                                    <div class="concert-venue-location">Carouge - GE</div>
                                </div>
                                <a href="#" class="btn-options icon-plus" title="Ajouter à la sélection de concerts"></a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="concert-date">
                        <span class="concert-date-weekday">Samedi</span>
                        <span class="concert-date-day-month">23 Fév</span>
                        <span class="concert-date-year">2013</span>
                    </div>
                    <ul class="concert-grid">
                        <li>
                            <div class="concert">
                                <a href="#" title="Aller sur la page de ce concert"><img src="img/fake-content/track-cover3.jpg" class="concert-cover" alt=""></a>
                                <div class="concert-hour">21h</div>
                                <div class="concert-info">
                                    <div class="concert-artist"><a href="#">March</a></div>
                                    <div class="concert-venue"><a href="#">Le Lido Comedy & Club</a></div>
                                    <div class="concert-venue-location">Lausanne - VD</div>
                                </div>
                                <a href="#" class="btn-options icon-plus" title="Ajouter à la sélection de concerts"></a>
                            </div>
                        </li>
                        <li>
                            <div class="concert">
                                <a href="#" title="Aller sur la page de ce concert"><img src="img/fake-content/track-cover1.jpg" class="concert-cover" alt=""></a>
                                <div class="concert-hour">22h</div>
                                <div class="concert-info">
                                    <div class="concert-artist"><a href="#">Sumo</a></div>
                                    <div class="concert-venue"><a href="#">Char Noir</a></div>
                                    <div class="concert-venue-location">Carouge - GE</div>
                                </div>
                                <a href="#" class="btn-options is-selected icon-check" title="Ajouter à la sélection de concerts"></a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <a href="#" class="btn">Voir les concerts suivants</a>
        </div>
    </div>

</div>
