---
title: mx3 homepage
layout: layout-authenticated
---

<header class="page-header">
    <h1>Ton compte</h1>
</header>

<div class="page-nav">

    <nav>
        <ul>
            <li class="active">
                <a href="#"><i class="icon-vcard"></i> Informations</a>
            </li>
            <li>
                <a href="#"><i class="icon-doc-text"></i> News</a>
            </li>
            <li>
                <a href="#"><i class="icon-cog"></i> Préférences</a>
            </li>
        </ul>
    </nav>

</div>

<div class="page-content">
    <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit itaque recusandae fuga esse nostrum quod obcaecati sit! Eligendi illo hic ipsam omnis voluptatum laudantium ut maxime odio nostrum dicta architecto.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit itaque recusandae fuga esse nostrum quod obcaecati sit! Eligendi illo hic ipsam omnis voluptatum laudantium ut maxime odio nostrum dicta architecto.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit itaque recusandae fuga esse nostrum quod obcaecati sit! Eligendi illo hic ipsam omnis voluptatum laudantium ut maxime odio nostrum dicta architecto.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit itaque recusandae fuga esse nostrum quod obcaecati sit! Eligendi illo hic ipsam omnis voluptatum laudantium ut maxime odio nostrum dicta architecto.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit itaque recusandae fuga esse nostrum quod obcaecati sit! Eligendi illo hic ipsam omnis voluptatum laudantium ut maxime odio nostrum dicta architecto.</p>
    </div>
</div>
