---
title: single page
layout: layout-authenticated
---

<div class="banner dark-section">



</div>

<div class="content-wrapper">

    <div class="row-fluid mq">

        <div class="span3">
            <div>



            </div>
        </div>

        <div class="span6">
            <div>

                <div class="central-player">
                    <div class="central-player-controls">
                        <div class="central-player-timeline">
                            <div class="btn-timeline-control"><span></span></div>
                            <div class="central-player-timeline-pct"></div>
                        </div>
                        <div class="central-player-buttons">
                            <a href="#" class="btn-previous icon-to-start disabled"></a><a href="#" class="icon-play"></a><a href="#" class="btn-next icon-to-end"></a>
                        </div>
                        <div class="central-player-time">
                            2:03 <span class="light">/ 5:24</span>
                        </div>
                        <div class="central-player-fullscreen icon-resize-full"></div>
                        <div class="central-player-hd active">HD</div>
                    </div>
                </div>

                <div class="single-info">

                    <h1 class="single-title">Queen Louise</h1>

                    <div class="single-band">
                        <a href="#"><img src="img/fake-content/track-cover2.jpg" class="user-avatar single-band-avatar" width="60" height="60" alt=""></a>
                        <div class="single-band-name"><a href="#" title="Aller sur la page du groupe">Magicrays</a></div>
                        <div class="single-band-genre">Rock</div>
                        <div class="single-band-stats">9 singles</div>
                    </div>

                </div>

                <div class="single-comments">

                    <h3>Commentaires</h3>

                    <ul class="comment-list">
                        <li class="comment">
                            <a href="#"><img src="img/fake-content/user-avatar.png" class="user-avatar" width="50" height="50" alt=""></a>
                            <div class="comment-content">
                                <time datetime="" class="comment-date">35 min</time>
                                <a href="#" class="comment-author">Gaël Zucchini</a>
                                <div class="comment-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut commodi hic facilis doloribus ipsum repudiandae maxime harum repellendus iusto fugit sed tempore error possimus voluptatem culpa iure unde provident aliquid.</div>
                            </div>
                        </li>
                        <li class="comment">
                            <a href="#"><img src="img/fake-content/user-avatar.png" class="user-avatar" width="50" height="50" alt=""></a>
                            <div class="comment-content">
                                <time datetime="" class="comment-date">35 min</time>
                                <a href="#" class="comment-author">Gaël Zucchini</a>
                                <div class="comment-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut commodi hic facilis doloribus ipsum repudiandae maxime harum repellendus iusto fugit sed tempore error possimus voluptatem culpa iure unde provident aliquid.</div>
                            </div>
                        </li>
                    </ul>

                    <form class="comment-form">
                        <textarea class="input-block-level">Laisse un commentaire sur ce single</textarea>
                        <button class="btn">Envoyer !</button>
                    </form>

                </div>

            </div>
        </div>

        <div class="span3">
            <div>

                <h4 class="section-title">Tu vas peut-être aimer ça !</h4>

                <div class="track" data-href="#">
                    <img src="img/fake-content/track-cover3.jpg" class="track-cover" alt="">
                    <div class="btn-play btn-play-medium">
                        <i class="icon-play"></i>
                    </div>
                    <div class="track-info">
                        <div class="track-info-overlay">
                            <div class="track-title"><a href="#" title="Aller sur la page du morceau">Balanced Guys</a></div>
                            <div class="track-artist"><a href="#" title="Aller sur la page du groupe">Groove Druids</a></div>
                            <div class="track-genre">Pop</div>
                        </div>
                    </div>
                    <a href="#" class="btn-options icon-dot-3"></a>
                </div>
                <div class="track" data-href="#">
                    <img src="img/fake-content/track-cover3.jpg" class="track-cover" alt="">
                    <div class="btn-play btn-play-medium">
                        <i class="icon-play"></i>
                    </div>
                    <div class="track-info">
                        <div class="track-info-overlay">
                            <div class="track-title"><a href="#" title="Aller sur la page du morceau">Balanced Guys</a></div>
                            <div class="track-artist"><a href="#" title="Aller sur la page du groupe">Groove Druids</a></div>
                            <div class="track-genre">Pop</div>
                        </div>
                    </div>
                    <a href="#" class="btn-options icon-dot-3"></a>
                </div>

            </div>
        </div>

    </div>

</div>
