---
title: band profile
layout: layout-authenticated
---

<div class="banner-profile" style="background-image: url(img/fake-content/band-profile-background.jpg)">
    <div>

        <div class="banner-profile-wrapper profile">

            <div class="profile-avatar-wrapper">
                <img src="img/fake-content/band-avatar2.png" class="profile-avatar" alt="">
                <div class="profile-play-all">
                    <a href="#" class="btn-play btn-play-xlarge"><i class="icon-play"></i></a>
                    <span class="btn-play-label">Jouer tous les singles</span>
                </div>
                <div class="radio-badges">
                    <span class="radio-badge radio-badge-couleur3">Couleur3</span>
                    <span class="radio-badge radio-badge-on-air">On Air</span>
                </div>
            </div>

            <div class="profile-info">

                <div class="profile-name-bio">
                    <h1 class="profile-name">Rootwords</h1>

                    <div class="profile-bio">
                        <span class="profile-genre-location"><span class="profile-genre">Hip-Hop</span>, <span class="profile-location">Genève</span></span> – <span class="profile-bio-excerpt">D’origine zambienne, Rootwords fait parti de ces rappeurs citoyens du monde. Né aux Etats-Unis, il grandit en Suisse et découvre Londres…</span>
                        <a href="#" rel="profile-bio-full" class="link-dark-bg profile-bio-expand toggle-block">Lire la biographie</a>
                        <div id="profile-bio-full" class="profile-bio-full">
                            <a href="#" rel="profile-bio-full" class="btn-close toggle-block">&times;</a>
                            <h2 class="section-title">Biographie</h2>
                            <p>D’origine zambienne, Rootwords fait parti de ces rappeurs citoyens du monde. Né aux Etats-Unis, il grandit en Suisse et découvre Londres et l’Australie dans le cadre de ses études. De ces aventures, il se nourrit d’expériences qui font de lui un MC accompli.</p>
                            <p>Rootwords est âgé de 16 ans lorsque sa première introduction dans le monde du Hip Hop se produit au travers de sessions freestyle organisées par Colossal Crisis. Ses talents d’improvisation reconnus, Rootwords est encouragé à continuer sur cette voie. C’est lorsqu’il découvre Eminem, qu’il considère comme un rappeur doté d’un flow et d’une identité différente des classiques « gangsta » du milieu, que Rootwords réalise qu’il peut trouver sa place dans le mouvement. Plusieurs années plus tard, il portera son talent sur la scène du Montreux Jazz Festival lors d’un concert de Common et réussira à impressionner l’une des figures les plus importantes du rap conscient américain.</p>
                            <p>En 1999, il découvre la scène Hip Hop romande au travers de la « Viagra Mixtape » (compilation de rappeurs de la région lémanique). Il forme le groupe A-Stout, avec Larynx, lorsqu’il s’envole pour Londres où il continue à pratiquer son art parallèlement à ses études. La vie l’emporte ensuite en Australie où son verbe sera remarqué par le label le plus connu de la scène underground du pays, Obese Records, et où il connaitra également ses premières expériences avec un live band. Déçu des promesses non tenues auxquelles il est confronté, Rootwords décide de poser ses bagages en Suisse. Il est ainsi amené à rencontrer les membres de <a href="#">Kinyama Sounds</a>, un label indé de Genève, avec lesquels il collabore depuis 2008.</p>
                            <p>Entre 2009 et 2010, il enregistre notamment l’EP « What They Want », avec son groupe A-Stout, entre la Suisse et Londres. Les membres du groupe décident ensuite de séparer leur chemin. Rootwords continue son aventure en solo et commence à se produire dans plusieurs salles suisses, en Dj set. Il gagne le RepreZent Awards du meilleur artiste « Underground » fin 2010.</p>
                            <p>2011 annonce un nouveau tournant dans la carrière de Rootwords. Il sort « Press Rewind to Begin », un EP Hip Hop aux influences de Reggae, Soul et Funk. Le titre « Life’s a Journey » se fait une place sur le CD sampler du magazine français Modzik, et un article paraît dans OpenMag, le magazine de la Fnac en France. Le mois de septembre marque la sortie d’un projet très bien reçu du public et des médias, le « Double R Project ». Redbioul, à la production, livre des beats précis, musicalement inspirés des meilleures créations Hip Hop/Soul et où les samples s’inspirent à la fois du old school et de la new school. Deux titres de cette mixtape rentrent en Repérages Couleur3 en novembre.</p>
                            <p>Fin 2011, Kinyama Sounds recrute des musiciens pour accompagner Rootwords sur scène et proposer un show Hip Hop éclectique. Rootwords and <a href="#">The Block Notes</a> se produisent pour la première fois sur scène, à l’Usine de Genève en janvier 2012. En juin, le single « Just Amigos » sort en digital, un titre Soul/Funk modernisé où le flow énergique du MC passe un message universel sur la complexité des sentiments qui peuvent lier un homme et une femme. Rootwords fait également une apparition sur la compilation Downtown Boogie (Couleur3) et est invité pour une collaboration avec <a href="#">Bastian Baker</a> et Karolyn sur l’album d’<a href="#">Yvan Peacemaker</a>, « The Elixir ».</p>
                            <p>Après s’être produit sur quelques-unes des scènes les plus importantes de Suisse Romande avec les Block Notes au cours des derniers mois (notamment l’Usine à Genève, le Tohu Bohu Festival en première partie d’IAM) et un passage remarqué en Dj set au Royal Arena Festival, et après avoir fait plusieurs apparitions dans les médias suisses et français, Rootwords sort un nouveau maxi de 6 titres, « All Good », révélant une pièce supplémentaire de son cosmos musical.</p>

                            <footer><a href="#" rel="profile-bio-full" class="toggle-block">Fermer la biographie</a></footer>
                        </div>
                    </div>

                    <div class="profile-stats">
                        798 visites – 1753 écoutes
                    </div>
                </div>

                <div class="profile-top-tracks">
                    <h2 class="profile-top-tracks-title">Top 2 singles</h2>
                    <ul>
                        <li>
                            <a href="#" class="btn-play btn-play-mini" title="Écouter ce single"><i class="icon-play"></i></a>
                            <a href="page-single.html" class="single-link" title="Aller sur la du single">All Good</a>
                        </li>
                        <li>
                            <a href="#" class="btn-play btn-play-mini" title="Écouter ce single"><i class="icon-play"></i></a>
                            <a href="page-single.html" class="single-link" title="Aller sur la du single">I Love This Game</a>
                        </li>
                    </ul>
                </div>

                <div class="profile-contact">
                    <h2 class="profile-contact-title">Contact</h2>
                    <ul class="unstyled">
                        <li><a href="#"><i class="icon-mail"></i> E-mail</a></li>
                        <li><a href="#" class="profile-booking-link"><i class="icon-alert"></i> Book this band!</a></li>
                    </ul>

                </div>

            </div>

        </div>

    </div>
</div>

<div class="content-wrapper">
    <div class="row-fluid">

        <div class="span8 profile-main-content">

            <section class="profile-singles-playlists">

                <header>
                    <ul class="nav nav-tabs nav-tabs-upper">
                        <li class="active"><a href="#profile-singles" data-toggle="tab">Singles <span class="count">(13)</span></a></li>
                        <li><a href="#profile-playlists" data-toggle="tab">Playlists <span class="count">(2)</span></a></li>
                    </ul>
                </header>

                <div class="tab-content">

                    <ul id="profile-singles" class="track-grid tab-pane active">
                        <li>
                            <div class="track" data-href="#">
                                <img src="img/fake-content/track-cover1.jpg" class="track-cover" alt="">
                                <div class="btn-play btn-play-medium">
                                    <i class="icon-play"></i>
                                </div>
                                <div class="track-info">
                                    <a href="#" class="btn-free-download icon-down" title="Free download"></a>
                                    <div class="track-info-overlay">
                                        <div class="track-title"><a href="page-single.html" title="Aller sur la page du morceau">Sudden Attraction</a></div>
                                        <div class="track-artist"><a href="profile-band.html" title="Aller sur la page du groupe">Rootwords</a></div>
                                        <div class="track-genre">Hip-Hop</div>
                                    </div>
                                </div>
                                <div class="track-options item-options dropdown">
                                    <a href="#" class="btn-options icon-dot-3 dropdown-toggle" data-toggle="dropdown"></a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <li><a href=""><i class="icon-list-add"></i> Ajouter à une playlist</a></li>
                                        <li><a href=""><i class="icon-note-beamed"></i> Smarlist</a></li>
                                        <li><a href=""><i class="icon-share"></i> Partager</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="track" data-href="#">
                                <img src="img/fake-content/track-cover1.jpg" class="track-cover" alt="">
                                <div class="btn-play btn-play-medium">
                                    <i class="icon-play"></i>
                                </div>
                                <div class="track-info">
                                    <div class="track-info-overlay">
                                        <div class="track-title"><a href="#" title="Aller sur la page du morceau">Balanced Guys</a></div>
                                        <div class="track-artist"><a href="#" title="Aller sur la page du groupe">Rootwords</a></div>
                                        <div class="track-genre">Hip-Hop</div>
                                    </div>
                                </div>
                                <a href="#" class="btn-options icon-dot-3"></a>
                            </div>
                        </li>
                        <li>
                            <div class="track" data-href="#">
                                <img src="img/fake-content/track-cover1.jpg" class="track-cover" alt="">
                                <div class="btn-play btn-play-medium">
                                    <i class="icon-play"></i>
                                </div>
                                <div class="track-info">
                                    <div class="track-title"><a href="#" title="Aller sur la page du morceau">Balanced Guys</a></div>
                                    <div class="track-artist"><a href="#" title="Aller sur la page du groupe">Rootwords</a></div>
                                    <div class="track-genre">Hip-Hop</div>
                                </div>
                                <a href="#" class="btn-options icon-dot-3"></a>
                            </div>
                        </li>
                        <li>
                            <div class="track" data-href="#">
                                <img src="img/fake-content/track-cover1.jpg" class="track-cover" alt="">
                                <div class="btn-play btn-play-medium">
                                    <i class="icon-play"></i>
                                </div>
                                <div class="track-info">
                                    <a href="#" class="btn-free-download icon-down" title="Free download"></a>
                                    <div class="track-title"><a href="#" title="Aller sur la page du morceau">Pussy Kat Kill Kill</a></div>
                                    <div class="track-artist"><a href="#" title="Aller sur la page du groupe">Rootwords</a></div>
                                    <div class="track-genre">Electro</div>
                                </div>
                                <a href="#" class="btn-options icon-dot-3"></a>
                            </div>
                        </li>
                        <li>
                            <div class="track" data-href="#">
                                <img src="img/fake-content/track-cover1.jpg" class="track-cover" alt="">
                                <div class="btn-play btn-play-medium">
                                    <i class="icon-play"></i>
                                </div>
                                <div class="track-info">
                                    <a href="#" class="btn-video icon-video" title="View the video"></a>
                                    <div class="track-title"><a href="#" title="Aller sur la page du morceau">Sudden Attraction For The Moon March WTF Is Th…</a></div>
                                    <div class="track-artist"><a href="#" title="Aller sur la page du groupe">Rootwords</a></div>
                                    <div class="track-genre">Hip-Hop</div>
                                </div>
                                <a href="#" class="btn-options icon-dot-3"></a>
                            </div>
                        </li>
                        <li>
                            <div class="track" data-href="#">
                                <img src="img/fake-content/track-cover2.jpg" class="track-cover" alt="">
                                <div class="btn-play btn-play-medium">
                                    <i class="icon-play"></i>
                                </div>
                                <div class="track-info">
                                    <div class="track-title"><a href="#" title="Aller sur la page du morceau">Pussy Kat Kill Kill</a></div>
                                    <div class="track-artist"><a href="#" title="Aller sur la page du groupe">Rootwords</a></div>
                                    <div class="track-genre">Electro</div>
                                </div>
                                <a href="#" class="btn-options icon-dot-3"></a>
                            </div>
                        </li>
                    </ul>

                </div>

            </section>

            <section class="profile-gallery">

                <h3 class="section-title">Photos</h3>

                <ul class="profile-gallery-list">
                    <li><a href="#"><img src="http://placehold.it/150x150"></a></li>
                    <li><a href="#"><img src="http://placehold.it/150x150"></a></li>
                    <li><a href="#"><img src="http://placehold.it/150x150"></a></li>
                    <li><a href="#"><img src="http://placehold.it/150x150"></a></li>
                    <li><a href="#"><img src="http://placehold.it/150x150"></a></li>
                    <li><a href="#"><img src="http://placehold.it/150x150"></a></li>
                    <li><a href="#"><img src="http://placehold.it/150x150"></a></li>
                    <li><a href="#"><img src="http://placehold.it/150x150"></a></li>
                </ul>
            </section>

            <section class="profile-comments">

                <h3 class="section-title">Commentaires</h3>

                <form class="comment-form">
                    <a href="#"><img src="img/fake-content/user-avatar.png" class="user-avatar" width="50" height="50" alt=""></a>
                    <textarea class="input-block-level">Laisse un commentaire sur cet artiste</textarea>
                    <button class="btn">Envoyer !</button>
                </form>

                <ul class="comment-list">
                    <li class="comment">
                        <a href="#"><img src="img/fake-content/user-avatar3.png" class="user-avatar" width="50" height="50" alt=""></a>
                        <div class="comment-content">
                            <time datetime="" class="comment-date">35 min</time>
                            <a href="#" class="comment-author">Ben</a>
                            <div class="comment-body">Super musique Rootwords! ca fait lgtemps que javais pas decouvert du bon hiphop comme ça! Quelques influencess jamaicaines non?</div>
                        </div>
                    </li>
                    <li class="comment">
                        <a href="#"><img src="img/fake-content/user-avatar2.png" class="user-avatar" width="50" height="50" alt=""></a>
                        <div class="comment-content">
                            <time datetime="" class="comment-date">Hier</time>
                            <a href="#" class="comment-author">Yoshi le suisse</a>
                            <div class="comment-body">Découvert par hasard à la fête de la musique à Lausanne. SUper son et préesence sur scène. J ene manquerai pas d'aller au MJF revoir ça!!</div>
                        </div>
                    </li>
                </ul>

            </section>

        </div>

        <div class="span4">

            <section class="profile-news">

                <h2 class="section-title">News</h2>

                <ul class="profile-news-list news-list">
                    <li>
                        <div class="news">
                            <time datetime="" class="news-date">5 mai 2013</time>
                            <a href="">
                                <img src="img/fake-content/news2.png" class="news-pic" alt="">
                                <span class="news-info">
                                    <span class="news-author">Rootwords</span>
                                    <span class="news-title">Primé aux Swiss Live Talents!</span>
                                </span>
                            </a>
                        </div>
                    </li>
                </ul>

            </section>

            <section class="profile-concerts">

                <h2 class="section-title">Prochains concerts</h2>

                <ul class="profile-concert-list">
                    <li>
                        <div class="concert-mini">
                            <div class="concert-mini-date">Sam<span class="concert-mini-date-day">23 Fév</span>2013</div>
                            <div class="concert-mini-info">
                                <div class="concert-mini-venue"><a href="#">Le Cabinet</a></div>
                                <div class="concert-mini-location">Genève - VD</div>
                                <a href="#" class="btn-options icon-plus" title="Ajouter à la sélection de concerts"></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="concert-mini">
                            <div class="concert-mini-date">Lun<span class="concert-mini-date-day">25 Fév</span>2013</div>
                            <div class="concert-mini-info">
                                <div class="concert-mini-venue"><a href="#">Sedel</a></div>
                                <div class="concert-mini-location">Lucerne - FR</div>
                                <a href="#" class="btn-options icon-plus" title="Ajouter à la sélection de concerts"></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="concert-mini">
                            <div class="concert-mini-date">Ven<span class="concert-mini-date-day">28 Fév</span>2013</div>
                            <div class="concert-mini-info">
                                <div class="concert-mini-venue"><a href="#">Festival Mekkason</a></div>
                                <div class="concert-mini-location">Nyon - VD</div>
                                <a href="#" class="btn-options icon-check is-selected" title="Concert déjà ajouté à la sélection de concerts"></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="concert-mini">
                            <div class="concert-mini-date">Jeu<span class="concert-mini-date-day">2 Mar</span>2013</div>
                            <div class="concert-mini-info">
                                <div class="concert-mini-venue"><a href="#">Bad Bonn</a></div>
                                <div class="concert-mini-location">Boon - BE</div>
                                <a href="#" class="btn-options icon-plus" title="Ajouter à la sélection de concerts"></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="concert-mini">
                            <div class="concert-mini-date">Sam<span class="concert-mini-date-day">23 Fév</span>2013</div>
                            <div class="concert-mini-info">
                                <div class="concert-mini-venue"><a href="#">Horffen</a></div>
                                <div class="concert-mini-location">Winterthur - TH</div>
                                <a href="#" class="btn-options icon-plus" title="Ajouter à la sélection de concerts"></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="concert-mini">
                            <div class="concert-mini-date">Mer<span class="concert-mini-date-day">15 Juil</span>2013</div>
                            <div class="concert-mini-info">
                                <div class="concert-mini-venue"><a href="#">Montreux Jazz Festival</a></div>
                                <div class="concert-mini-location">Montreux - VD</div>
                                <a href="#" class="btn-options icon-plus" title="Ajouter à la sélection de concerts"></a>
                            </div>
                        </div>
                    </li>
                </ul>

            </section>

            <section class="profile-links">

                <h2 class="section-title">Liens</h2>

                <ul class="unstyled">
                    <li><a href="#">Site web</a></li>
                    <li><a href="#">Soundcloud</a></li>
                    <li><a href="#">Bandcamp</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>

            </section>

        </div>

    </div>
</div>
