---
title: ton compte
layout: layout-authenticated
---

<header class="page-header">
    <h1>Ta musique <i class="icon-right-open-mini"></i> <em>Singles</em></h1>
</header>

<div class="page-nav">

    <nav>
        <ul>
            <li class="user-booking">
                <a href="user-booking.html"><i class="icon-alert"></i>2 demandes de booking!</a>
            </li>
        </ul>
        <div class="page-nav-title">Musique</div>
        <ul>
            <li class="active">
                <a href="user-singles.html"><i class="icon-note-beamed"></i>Singles</a>
            </li>
            <li>
                <a href="user-playlists.html"><i class="icon-list"></i>Playlists</a>
            </li>
            <li>
                <a href="user-concerts.html"><i class="icon-calendar"></i>Concerts</a>
            </li>
            <li>
                <a href="account-news.html"><i class="icon-doc-text"></i>News</a>
            </li>
        </ul>
        <div class="page-nav-title">Compte</div>
        <ul>
            <li>
                <a href="account-profile.html"><i class="icon-vcard"></i>Profil</a>
            </li>
            <li>
                <a href="account-settings.html"><i class="icon-cog"></i>Réglages</a>
            </li>
        </ul>
    </nav>

</div>

<div class="page-content">
    <div>

        <div class="account-track-upload">
            <a href="#">
                <i class="icon-upload-cloud"></i>
                <label>Sélectionner un single à importer</label>
                <label class="addendum">Ou glisser-déposer le fichier ici</label>
                <span class="help-block">Les fichiers <strong>audio ou vidéo</strong> sont acceptés. 1 Go maximum. 5 singles par année maximum.</span>
            </a>
        </div>

        <ul class="account-track-list">
            <li>
                <span class="account-track-list-year">2013</span>
                <ul class="track-grid">
                    <li>
                        <div class="track" data-href="#">
                            <img src="img/fake-content/track-cover1.jpg" class="track-cover" alt="">
                            <div class="btn-play btn-play-medium">
                                <i class="icon-play"></i>
                            </div>
                            <div class="track-info">
                                <div class="track-info-overlay">
                                    <div class="track-title"><a href="#" title="Aller sur la page du morceau">Sudden Attraction</a></div>
                                    <div class="track-artist"><a href="#" title="Aller sur la page du groupe">Aurell</a></div>
                                    <div class="track-genre">Rock</div>
                                </div>
                            </div>
                            <a href="#" class="btn-options icon-dot-3"></a>
                            <div class="track-options item-options dropdown">
                                <a href="#" class="btn-options icon-dot-3 dropdown-toggle" data-toggle="dropdown"></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <li><a href=""><i class="icon-list-add"></i> Ajouter à une playlist</a></li>
                                    <li><a href=""><i class="icon-note-beamed"></i> Smarlist</a></li>
                                    <li><a href=""><i class="icon-export"></i> Partager</a></li>
                                    <li class="divider"></li>
                                    <li><a href=""><i class="icon-pencil"></i> Éditer</a></li>
                                    <li><a href="" class="delete"><i class="icon-cancel"></i> Effacer</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="track" data-href="#">
                            <img src="img/fake-content/track-cover1.jpg" class="track-cover" alt="">
                            <div class="btn-play btn-play-medium">
                                <i class="icon-play"></i>
                            </div>
                            <div class="track-info">
                                <div class="track-info-overlay">
                                    <div class="track-title"><a href="#" title="Aller sur la page du morceau">Sudden Attraction</a></div>
                                    <div class="track-artist"><a href="#" title="Aller sur la page du groupe">Aurell</a></div>
                                    <div class="track-genre">Rock</div>
                                </div>
                            </div>
                            <a href="#" class="btn-options icon-dot-3"></a>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <span class="account-track-list-year">2012</span>
                <ul class="track-grid">
                    <li>
                        <div class="track" data-href="#">
                            <img src="img/fake-content/track-cover1.jpg" class="track-cover" alt="">
                            <div class="btn-play btn-play-medium">
                                <i class="icon-play"></i>
                            </div>
                            <div class="track-info">
                                <div class="track-info-overlay">
                                    <div class="track-title"><a href="#" title="Aller sur la page du morceau">Sudden Attraction</a></div>
                                    <div class="track-artist"><a href="#" title="Aller sur la page du groupe">Aurell</a></div>
                                    <div class="track-genre">Rock</div>
                                </div>
                            </div>
                            <a href="#" class="btn-options icon-dot-3"></a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
</div>
