---
title: Ta musique > Singles
layout: layout-authenticated
---

<header class="page-header">
    <h1>Ta musique <i class="icon-right-open-mini"></i> <em>Concerts</em></h1>
</header>

<div class="page-nav">

    <nav>
        <ul>
            <li class="user-booking">
                <a href="user-booking.html"><i class="icon-alert"></i>2 demandes de booking!</a>
            </li>
        </ul>
        <div class="page-nav-title">Musique</div>
        <ul>
            <li>
                <a href="user-singles.html"><i class="icon-note-beamed"></i>Singles</a>
            </li>
            <li>
                <a href="user-playlists.html"><i class="icon-list"></i>Playlists</a>
            </li>
            <liclass="active">
                <a href="user-concerts.html"><i class="icon-calendar"></i>Concerts</a>
            </li>
            <li>
                <a href="account-news.html"><i class="icon-doc-text"></i>News</a>
            </li>
        </ul>
        <div class="page-nav-title">Compte</div>
        <ul>
            <li>
                <a href="account-profile.html"><i class="icon-vcard"></i>Profil</a>
            </li>
            <li>
                <a href="account-settings.html"><i class="icon-cog"></i>Réglages</a>
            </li>
        </ul>
    </nav>

</div>

<div class="page-content">
    <div>

        <p class="account-concerts-header">
            <a href="#add-concert-form" class="toggle-add-concert-form btn btn-large btn-primary">Ajouter un concert</a>
        </p>

        <div class="account-concerts-year-filter">
            <ul>
                <li class="active"><a href="#">Concerts de 2013 <span class="count">(12)</span></a></li>
                <li><a href="#">2012 <span class="count">(18)</span></a></li>
                <li><a href="#">2011 <span class="count">(5)</span></a></li>
                <li><a href="#">2010 <span class="count">(8)</span></a></li>
            </ul>
        </div>

        <div class="account-concerts-list">

            <h2 class="account-concerts-title"><a href="#" class="toggle-past-concerts">Concerts précédents <span class="count">(7)</span><i class="icon-down-dir"></i></a></h2>

            <div class="account-concerts account-past-concerts">
                <ul>
                    <li>
                        <div class="date">Lundi <strong>20 Février 2013</strong> – 21h30</div>
                        <div class="concert no-cover">
                            <div class="concert-actions">
                                <a href="" class="btn-icon-action icon-pencil"></a> <a href="" class="btn-delete">&times;</a>
                            </div>
                            <div class="concert-info">
                                <div class="concert-artist"><a href="#">March</a></div>
                                <div class="concert-venue"><a href="#">Le Cabinet</a></div>
                                <div class="concert-venue-location">Genève - VD</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="date">Mardi <strong>22 Février 2013</strong> – 22h</div>
                        <div class="concert no-cover">
                            <div class="concert-actions">
                                <a href="" class="btn-icon-action icon-pencil"></a> <a href="" class="btn-delete">&times;</a>
                            </div>
                            <div class="concert-info">
                                <div class="concert-artist"><a href="#">March</a></div>
                                <div class="concert-venue"><a href="#">Le Lido Comedy & Club</a></div>
                                <div class="concert-venue-location">Lausanne - VD</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <h2 class="account-concerts-title next-concerts">Concerts à venir <span class="count">(5)</span></h2>

            <div class="account-concerts account-next-concerts">
                <ul>
                    <li>
                        <div class="date">Samedi <strong>23 Février 2013</strong> – 21h30</div>
                        <div class="concert no-cover">
                            <div class="concert-actions">
                                <a href="" class="btn-icon-action icon-pencil"></a> <a href="" class="btn-delete">&times;</a>
                            </div>
                            <div class="concert-info">
                                <div class="concert-artist"><a href="#">March</a></div>
                                <div class="concert-venue"><a href="#">Le Cabinet</a></div>
                                <div class="concert-venue-location">Genève - VD</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="date">Lundi <strong>25 Février 2013</strong> – 22h</div>
                        <div class="concert no-cover">
                            <div class="concert-actions">
                                <a href="" class="btn-icon-action icon-pencil"></a> <a href="" class="btn-delete">&times;</a>
                            </div>
                            <div class="concert-info">
                                <div class="concert-artist"><a href="#">March</a></div>
                                <div class="concert-venue"><a href="#">Le Lido Comedy & Club</a></div>
                                <div class="concert-venue-location">Lausanne - VD</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="date">Mardi <strong>26 Février 2013</strong> – 21h30</div>
                        <div class="concert no-cover">
                            <div class="concert-actions">
                                <a href="" class="btn-icon-action icon-pencil"></a> <a href="" class="btn-delete">&times;</a>
                            </div>
                            <div class="concert-info">
                                <div class="concert-artist"><a href="#">March</a></div>
                                <div class="concert-venue"><a href="#">Le Cabinet</a></div>
                                <div class="concert-venue-location">Genève - VD</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="date">Mercredi <strong>28 Février 2013</strong> – 22h</div>
                        <div class="concert no-cover">
                            <div class="concert-actions">
                                <a href="" class="btn-icon-action icon-pencil"></a> <a href="" class="btn-delete">&times;</a>
                            </div>
                            <div class="concert-info">
                                <div class="concert-artist"><a href="#">March</a></div>
                                <div class="concert-venue"><a href="#">Fri-son</a></div>
                                <div class="concert-venue-location">Fribourg - FR</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <a href="#add-concert-form" class="toggle-add-concert-form btn btn-large btn-primary">Ajouter un concert</a>

            <form id="add-concert-form" class="add-concert-form">
                <a href="#" class="form-cancel">&times;</a>
                <div>
                    <label for="">Date du concert <span class="required">*</span></label>
                    <div class="input-append date" id="datetimepicker1">
                        <input data-format="dd/MM/yyyy hh:mm:ss" type="text">
                        <span class="add-on">
                            <i data-date-icon="icon-calendar" data-time-icon="icon-time" class="icon-calendar"></i>
                        </span>
                    </div>
                </div>
                <p>
                    <label for="">Scène mx3 <span class="required">*</span></label>
                    <input type="text" class="input-block-level" value="">
                </p>
                <div class="well">
                    <p>Si la salle de concert ou le festival n‘existe pas encore sur mx3, crées-le maintenant.</p>
                    <a href="#" class="btn">Créer une nouvelle scène</a>
                </div>
                <p>
                    <label for="">Nom de l‘évènement (facultatif)</label>
                    <input type="text" class="input-block-level" value="">
                </p>
                <p>
                    <label for="">Billeterie en ligne</label>
                    <input type="text" class="input-block-level" placeholder="http://" value="">
                </p>
                <p>
                    <label for="">Tags</label>
                    <input type="text" class="input-block-level" value="">
                    <span class="help-block">Les tags doivent être séparés par des virgules. 5 tags maximum. Exemple : <strong>lausanne, big-band, été, festival</strong></span>
                </p>
                <div class="form-actions">
                    <button class="btn btn-primary">Créer le concert</button> <a href="#" class="btn">Cancel</a>
                </div>
            </form>

        </div>

    </div>
</div>
